Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Fix: Only pass through failed Results to preserve structured errors
  src/browser/api.ts
  src/main-server.ts
Due: unit-tests

🤖 Add Storybook screenshot automation tool
  Makefile
  bun.lock
  package.json
  scripts/README-screenshot-storybook.md
  scripts/screenshot-storybook.ts
Due: none

Add demo documentation for screenshot tool
  scripts/demo-screenshot-tool.md
Due: none

🤖 Disable mobile zoom/pinch gestures
  index.html
Due: none

Remove standalone markdown docs
  scripts/README-screenshot-storybook.md
  scripts/demo-screenshot-tool.md
Due: none

🤖 Disable mobile zoom/pinch gestures (#371)
  index.html
Due: none

🤖 Fix iOS PWA keyboard not appearing on input focus
  index.html
  src/App.tsx
Due: unit-tests

🤖 Fix web server error handling to preserve structured errors (#369)
  src/browser/api.ts
  src/components/ChatInputToasts.test.ts
  src/main-server.ts
Due: unit-tests

🤖 Fix generate-version.sh shebang for Nix compatibility
  scripts/generate-version.sh
Due: none

Clear timeout after Storybook starts successfully
  scripts/screenshot-storybook.ts
Due: none

🤖 Fix iOS PWA keyboard not appearing on input focus (#372)
  index.html
  src/App.tsx
Due: unit-tests

Add temporary workflow to generate screenshots in CI
  .github/workflows/tmp-screenshot.yml
Due: none

🤖 Fix generate-version.sh shebang for Nix compatibility (#373)
  scripts/generate-version.sh
Due: none

🤖 Add image attachment button for mobile
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Fix mobile viewport overflow issues
  src/components/AIView.tsx
  src/components/Messages/UserMessage.tsx
  src/components/ModelSelector.tsx
  src/components/ProjectSidebar.tsx
  src/components/Tooltip.tsx
  src/components/tools/BashToolCall.tsx
  src/components/tools/FileEditToolCall.tsx
  src/components/tools/FileReadToolCall.tsx
Due: unit-tests

🤖 Show attach button only on mobile
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Fix formatting
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Disable iOS keyboard autocomplete and suggestions
  src/components/VimTextArea.tsx
Due: unit-tests

🤖 Fix attach button layout to avoid overlapping textarea
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Disable iOS keyboard autocomplete and suggestions (#376)
  src/components/VimTextArea.tsx
Due: unit-tests

🤖 Add image attachment button for mobile (#374)
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Fix mobile viewport overflow issues (#375)
  src/components/AIView.tsx
  src/components/Messages/UserMessage.tsx
  src/components/ModelSelector.tsx
  src/components/ProjectSidebar.tsx
  src/components/Tooltip.tsx
  src/components/tools/BashToolCall.tsx
  src/components/tools/FileEditToolCall.tsx
  src/components/tools/FileReadToolCall.tsx
Due: unit-tests

🤖 Fix: Preserve thinking blocks during stream interrupts
  src/services/aiService.ts
  src/utils/messages/modelMessageTransform.test.ts
  src/utils/messages/modelMessageTransform.ts
Due: unit-tests

Format test file
  src/utils/messages/modelMessageTransform.test.ts
Due: none

Fix: Also filter out placeholder messages with empty parts arrays
  src/utils/messages/modelMessageTransform.test.ts
  src/utils/messages/modelMessageTransform.ts
Due: unit-tests

🤖 Optimize bundle size by lazy-loading heavy dependencies
  bun.lock
  package.json
  src/components/Messages/MarkdownComponents.tsx
  src/utils/highlighting/highlightDiffChunk.ts
  src/utils/highlighting/shikiHighlighter.ts
  src/utils/main/tokenizer.ts
  vite.config.ts
Due: unit-tests

Fix eslint errors from dynamic imports
  src/components/Messages/MarkdownComponents.tsx
  src/utils/highlighting/highlightDiffChunk.ts
  src/utils/highlighting/shikiHighlighter.ts
Due: unit-tests

Revert Mermaid lazy loading to fix E2E tests
  src/components/Messages/MarkdownComponents.tsx
Due: unit-tests

Fix tokenizer bundling and synchronous token counts
  src/utils/main/tokenizer.ts
  vite.config.ts
Due: unit-tests

Remove unused eslint-disable directives
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

Remove trailing whitespace from lint fixes
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

🤖 Fix: Preserve thinking blocks during stream interrupts (#377)
  src/services/aiService.ts
  src/utils/messages/modelMessageTransform.test.ts
  src/utils/messages/modelMessageTransform.ts
Due: unit-tests

Import tokenizer encodings statically to avoid lazy-loading issues
  src/utils/main/tokenizer.ts
Due: unit-tests

Format tokenizer.ts with prettier
  src/utils/main/tokenizer.ts
Due: unit-tests

feat: lazy tokenizer loading and defensive asserts
  eslint.config.mjs
  src/components/ChatMetaSidebar.tsx
  src/debug/agentSessionCli.ts
  src/debug/chatExtractors.ts
  src/main-desktop.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
  src/services/utils/sendMessageError.ts
  src/stores/WorkspaceConsumerManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/assert.ts
  src/utils/main/tokenizer.test.ts
  src/utils/main/tokenizer.ts
  src/utils/messages/StreamingMessageAggregator.ts
  src/utils/tokens/TokenStatsWorker.ts
  src/utils/tokens/displayUsage.ts
  src/utils/tokens/tokenStats.worker.ts
  src/utils/tokens/tokenStatsCalculator.ts
  tests/e2e/utils/ui.ts
  vite.config.ts
Due: unit-tests, integration-tests

Fix up stories for app
  src/App.stories.tsx
  src/App.tsx
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

feat: lazy tokenizer loading and defensive asserts (#307)
  eslint.config.mjs
  src/components/ChatMetaSidebar.tsx
  src/debug/agentSessionCli.ts
  src/debug/chatExtractors.ts
  src/main-desktop.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
  src/services/utils/sendMessageError.ts
  src/stores/WorkspaceConsumerManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/assert.ts
  src/utils/main/tokenizer.test.ts
  src/utils/main/tokenizer.ts
  src/utils/messages/StreamingMessageAggregator.ts
  src/utils/tokens/TokenStatsWorker.ts
  src/utils/tokens/displayUsage.ts
  src/utils/tokens/tokenStats.worker.ts
  src/utils/tokens/tokenStatsCalculator.ts
  tests/e2e/utils/ui.ts
  vite.config.ts
Due: unit-tests, integration-tests

🤖 refactor: Convert ImageAttachments, TitleBar, TodoList to Tailwind
  src/components/ImageAttachments.tsx
  src/components/TitleBar.tsx
  src/components/TodoList.tsx
  src/styles/globals.css
Due: unit-tests

🤖 refactor: Convert Modal and all modal components to Tailwind
  src/components/Modal.tsx
Due: unit-tests

🤖 refactor: Convert ChatInputToast to Tailwind
  src/components/ChatInputToast.tsx
  src/styles/globals.css
Due: unit-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
