Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 fix: prevent mobile backdrop from intercepting review taps
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 fix: correct Tailwind CSS classnames order
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 refactor: move mobile sidebar toggle to header
  src/components/AIView.tsx
  src/components/RightSidebar.tsx
  src/components/WorkspaceHeader.tsx
  vite.config.ts
Due: unit-tests

🤖 feat: add mobile toggle for Review panel
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 fix: maintain manual open state for mobile review panel
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 feat: add swipe gestures for mobile sidebar
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 fix: allow manual close of Review tab on mobile
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 fix: build dist/ before running terminal-bench
  .github/workflows/terminal-bench.yml
Due: none

🤖 fix: build only main+preload (skip icons)
  .github/workflows/terminal-bench.yml
Due: none

🤖 test: increase runtimeExecuteBash timeout for CI variability
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 test: further increase runtime test timeouts for CI
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 fix: build dist/ before running terminal-bench (#513)
  .github/workflows/terminal-bench.yml
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 fix: increase stream timeouts in CI to handle rate limits
  tests/ipcMain/helpers.ts
Due: integration-tests

🤖 fix: make Review tab toggles global instead of per-workspace (#491)
  src/components/RightSidebar/CodeReview/ReviewPanel.tsx
Due: unit-tests

🤖 fix: apply CI timeout multiplier to all test call sites
  tests/ipcMain/helpers.ts
  tests/ipcMain/sendMessage.test.ts
Due: integration-tests

🤖 refactor: improve UI density and fix mobile-only features
  src/App.tsx
  src/components/ChatInput.tsx
  src/components/LeftSidebar.tsx
  src/components/ProjectSidebar.tsx
  src/styles/globals.css
  src/utils/ui/pathAbbreviation.test.ts
  src/utils/ui/pathAbbreviation.ts
Due: unit-tests

🤖 refactor: improve UI density and fix mobile-only features (#516)
  src/App.tsx
  src/components/ChatInput.tsx
  src/components/LeftSidebar.tsx
  src/components/ProjectSidebar.tsx
  src/styles/globals.css
  src/utils/ui/pathAbbreviation.test.ts
  src/utils/ui/pathAbbreviation.ts
Due: unit-tests

🤖 feat: responsive ChatInput controls with compact display
  src/components/ChatInput.tsx
  src/components/Context1MCheckbox.tsx
  src/components/ThinkingSlider.tsx
  src/components/ToggleGroup.tsx
Due: unit-tests

🤖 fix: match border radius in compact mode switch
  src/components/ToggleGroup.tsx
Due: unit-tests

🤖 refactor: simplify compact mode switch markup
  src/components/ChatInput.tsx
Due: unit-tests

🤖 style: fix formatting in ToggleGroup.tsx
  src/components/ToggleGroup.tsx
Due: unit-tests

🤖 refactor: extract duplicated mode switch code
  src/components/ChatInput.tsx
Due: unit-tests

🤖 feat: responsive ChatInput controls with compact display (#517)
  src/components/ChatInput.tsx
  src/components/Context1MCheckbox.tsx
  src/components/ThinkingSlider.tsx
  src/components/ToggleGroup.tsx
Due: unit-tests

fix: normalize provider config for ai sdk
  src/services/aiService.normalization.test.ts
  src/services/aiService.ts
Due: unit-tests

🤖 fix: reduce flaky bash stdin test timing with gpt-5-mini
  tests/ipcMain/helpers.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: integration-tests

🤖 fix: preload tokenizer to fix slow local bash tests
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 refactor: centralize tokenizer preload in test setup
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/setup.ts
Due: integration-tests

🤖 fix: preload tokenizer to eliminate slow test initialization (#518)
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/setup.ts
Due: integration-tests

🤖 feat: add aria-labels to ProjectSidebar and fix path text cutoff
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 fmt: auto-format ProjectSidebar.tsx
  src/components/ProjectSidebar.tsx
Due: unit-tests

fix: use container queries for responsive chat controls
  src/components/ChatInput.tsx
Due: unit-tests

fix: keep process alive when stdin closes in agentSessionCli
  src/debug/agentSessionCli.ts
Due: unit-tests

🤖 fix: use container queries for responsive chat controls (#526)
  src/components/ChatInput.tsx
Due: unit-tests

lint: add comment to keepalive interval to satisfy no-empty-function rule
  src/debug/agentSessionCli.ts
Due: unit-tests

🤖 feat: add aria-labels to ProjectSidebar and fix path text cutoff (#524)
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 fix: simplify flaky bash special characters test
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 fix: keep process alive when stdin closes in agentSessionCli (#529)
  src/debug/agentSessionCli.ts
Due: unit-tests

🤖 fix: switch runtimeExecuteBash tests to use Haiku
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 ci: simplify flaky bash special characters test (#527)
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
