Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 fix: bundle extension dependencies from main app's node_modules
  vscode/Makefile
  vscode/esbuild.config.js
Due: none

🤖 feat: add VS Code extension for cmux workspace switching
  Makefile
  README.md
  docs/SUMMARY.md
  docs/vscode-extension.md
  vscode/.gitignore
  vscode/.vscode/launch.json
  vscode/.vscode/tasks.json
  vscode/.vscodeignore
  vscode/CHANGELOG.md
  vscode/DEVELOPMENT.md
  vscode/LICENSE
  vscode/README.md
  vscode/icon.png
  vscode/package-lock.json
  vscode/package.json
  vscode/scripts/create-icon.sh
  vscode/scripts/verify-extension.sh
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
  vscode/src/workspaceOpener.ts
  vscode/tsconfig.json
Due: none

🤖 refactor: convert ExtensionMetadataService to use fs promises
  src/bench/headlessEnvironment.ts
  src/main-desktop.ts
  src/main-server.ts
  src/services/ExtensionMetadataService.ts
  src/services/ipcMain.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

🤖 feat: add SQLite metadata store for workspace recency and streaming status
  bun.lock
  package.json
  src/services/MetadataStore.ts
  src/services/ipcMain.ts
  vscode/bun.lock
  vscode/package-lock.json
  vscode/package.json
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
Due: unit-tests

🤖 refactor: make runtimeConfig required in WorkspaceMetadata
  docs/vscode-extension.md
  src/App.stories.tsx
  src/config.ts
  src/constants/workspace.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
  src/services/systemMessage.test.ts
  src/stores/GitStatusStore.test.ts
  src/stores/WorkspaceStore.test.ts
  src/types/workspace.ts
  src/utils/commands/sources.test.ts
  src/utils/ui/workspaceFiltering.test.ts
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
  vscode/src/workspaceOpener.ts
Due: unit-tests

🤖 fix: add --force flag to vscode-ext-install target
  Makefile
  vscode/package-lock.json
Due: none

🤖 refactor: use Config class from main app in extension
  vscode/src/cmuxConfig.ts
Due: none

🤖 refactor: use esbuild to import main app directly
  Makefile
  vscode/bun.lock
  vscode/esbuild.config.js
  vscode/package.json
  vscode/scripts/sync-shared.sh
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
Due: none

🤖 fix: format vscode-extension.md with prettier
  docs/vscode-extension.md
Due: none

🤖 fix: force clean rebuild in vscode-ext target
  Makefile
  vscode/src/cmuxConfig.ts
Due: none

🤖 refactor: clean up VS Code extension code
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
  vscode/src/workspaceOpener.ts
Due: none

🤖 fix: preserve recency order when searching workspaces
  vscode/src/extension.ts
Due: none

🤖 fix: prevent npm from creating package-lock.json
  vscode/.gitignore
  vscode/package-lock.json
  vscode/package.json
Due: none

🤖 fix: replace existsSync with async access() in ExtensionMetadataService
  src/services/ExtensionMetadataService.ts
Due: unit-tests

🤖 fix: make addWorkspace async and fix type guards
  src/config.test.ts
  src/config.ts
  src/debug/agentSessionCli.ts
  src/main-server.ts
  src/services/ExtensionMetadataService.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: make config operations properly async
  src/config.test.ts
  src/config.ts
  src/services/agentSession.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
Due: unit-tests

🤖 refactor: centralize .cmux config root path
  src/config.ts
  src/constants/paths.ts
  src/debug/git-status.ts
  src/debug/list-workspaces.ts
  src/debug/send-message.ts
  src/main-desktop.ts
  src/services/systemMessage.ts
  src/utils/extensionMetadata.ts
Due: unit-tests

docs: add screenshot
  docs/img/vscode-ext.webp
  docs/vscode-extension.md
Due: none

🤖 refactor: replace path constants with functions accepting optional rootDir
  src/config.ts
  src/constants/paths.ts
  src/debug/git-status.ts
  src/debug/list-workspaces.ts
  src/debug/send-message.ts
  src/main-desktop.ts
  src/services/ipcMain.ts
  src/utils/extensionMetadata.ts
Due: unit-tests

🤖 refactor: remove redundant vscode/DEVELOPMENT.md
  vscode/DEVELOPMENT.md
Due: none

🤖 refactor: simplify vscode/README.md
  vscode/README.md
Due: none

🤖 refactor: remove unused verify-extension.sh
  vscode/scripts/verify-extension.sh
Due: none

🤖 fix: resolve lint errors from path refactoring
  src/config.ts
  src/constants/paths.ts
  src/services/systemMessage.ts
Due: unit-tests

Simplify docs
  docs/vscode-extension.md
Due: none

🤖 feat: allow slashes in branch names with directory sanitization
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  src/utils/validation/workspaceValidation.test.ts
  src/utils/validation/workspaceValidation.ts
  src/utils/workspace/directoryName.test.ts
  src/utils/workspace/directoryName.ts
  tests/ipcMain/workspaceSlashes.test.ts
Due: unit-tests

🤖 fix: sanitize branch names in delete/rename operations
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: sanitize branch names in all getWorkspacePath calls
  src/config.ts
  src/runtime/LocalRuntime.ts
  src/services/agentSession.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: move sanitization into getWorkspacePath
  src/config.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/agentSession.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: properly escape single quotes in SSH command for Terminal.app
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: use proper AppleScript structure for Terminal.app SSH
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: use --command flag for Ghostty SSH on macOS
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: use isSSHRuntime type guard for runtime check
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: use isSSHRuntime() in openTerminal method
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: revert to simple type check in openTerminal
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: check SSH type once in openTerminal method
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: remove redundant SSH type check
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: add missing isSSHRuntime export to runtime.ts
  src/types/runtime.ts
Due: unit-tests

🤖 fix: prettier formatting
  src/App.tsx
Due: unit-tests

🤖 fix: prettier formatting for runtime.ts
  src/types/runtime.ts
Due: unit-tests
