Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Add TDD test for trunk branch bug in createWorkspace
  tests/ipcMain/createWorkspace.test.ts
Due: none

Fix test to use WORKSPACE_EXECUTE_BASH and add File polyfill
  tests/ipcMain/RUN_TRUNK_BRANCH_TEST.md
  tests/ipcMain/createWorkspace.test.ts
  tests/setup.ts
Due: integration-tests

Fix: Use trunkBranch parameter in SSHRuntime instead of HEAD
  src/runtime/SSHRuntime.ts
Due: unit-tests

Remove ImageMagick from default setup-cmux, add as optional flag
  .github/actions/setup-cmux/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Fix SSH trunk branch: use origin/ prefix for remote tracking branches
  src/runtime/SSHRuntime.ts
Due: unit-tests

Fix AGENTS.md forwarding: read from projectPath not workspacePath
  src/services/systemMessage.test.ts
  src/services/systemMessage.ts
Due: unit-tests

🚀 Optimize ImageMagick caching in setup-cmux action (#434)
  .github/actions/setup-cmux/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

Fix: Use runtime.normalizePath for file tool path resolution
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: unit-tests

Change AGENTS.md to read from project root, not workspace
  docs/instruction-files.md
  src/services/systemMessage.test.ts
  src/services/systemMessage.ts
Due: unit-tests

Fix linting errors in file_edit_operation.test.ts
  src/services/tools/file_edit_operation.test.ts
Due: none

Fix test: Mock runtime methods properly to avoid rejection
  src/services/tools/file_edit_operation.test.ts
Due: none

Fix formatting (prettier)
  src/services/tools/file_edit_operation.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: none

Fix SSHRuntime trunk branch handling
  src/runtime/SSHRuntime.ts
Due: unit-tests

Fix AGENTS.md loading: workspace first, project fallback
  docs/instruction-files.md
  src/services/aiService.ts
  src/services/systemMessage.test.ts
  src/services/systemMessage.ts
  tests/ipcMain/sendMessage.test.ts
Due: unit-tests

Clarify AGENTS.md layering: workspace replaces project, not layers
  docs/instruction-files.md
  src/services/systemMessage.test.ts
  src/services/systemMessage.ts
Due: unit-tests

docs: rename 'Context' to 'Project' for clarity
  docs/instruction-files.md
Due: none

refactor: DRY local variant pattern for runtime reads
  src/services/systemMessage.ts
Due: unit-tests

Fix: Use runtime.normalizePath for file tool path resolution in SSH remotes (#438)
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: unit-tests

Change shescape to use global PATH `bash`
  src/runtime/SSHRuntime.ts
Due: unit-tests

refactor: unify instruction file reading with FileReader abstraction
  src/services/systemMessage.ts
  src/utils/main/instructionFiles.test.ts
  src/utils/main/instructionFiles.ts
Due: unit-tests

fix: remove orphaned JSDoc comment
  src/utils/main/instructionFiles.ts
Due: unit-tests

fix: address eslint violations (interface over type, nullish coalescing)
  src/services/systemMessage.ts
  src/utils/main/instructionFiles.ts
Due: unit-tests

chore: run prettier to fix formatting
  src/services/systemMessage.ts
  src/utils/main/instructionFiles.test.ts
  src/utils/main/instructionFiles.ts
Due: unit-tests

🤖 Use real mermaid in Storybook for visual inspection
  .storybook/main.ts
Due: none

refactor: workspace-first AGENTS.md loading with unified file reader (#439)
  docs/instruction-files.md
  src/services/aiService.ts
  src/services/systemMessage.test.ts
  src/services/systemMessage.ts
  src/utils/main/instructionFiles.test.ts
  src/utils/main/instructionFiles.ts
  tests/ipcMain/sendMessage.test.ts
Due: unit-tests

Change shescape to use global PATH `bash` (#440)
  src/runtime/SSHRuntime.ts
Due: unit-tests

Remove unused imports from streamManager.ts
  src/services/streamManager.ts
Due: unit-tests

Fix bash tool to use runtime-appropriate temp directory
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

Fix bash overflow temp directory to use Runtime abstraction
  src/services/aiService.ts
  src/services/streamManager.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/utils/tools/tools.ts
Due: unit-tests

Fix test to check runtimeTempDir instead of .cmux/tmp subdirectory
  src/services/tools/bash.test.ts
Due: none

Fix path expansion: return absolute path from createTempDirForStream
  src/services/streamManager.ts
Due: unit-tests

Remove unused path import from bash.test.ts
  src/services/tools/bash.test.ts
Due: none

Fix remaining tempDir references to use runtimeTempDir
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/todo.ts
Due: unit-tests

Use path.posix.join for overflow path to preserve POSIX separators
  src/services/tools/bash.ts
Due: unit-tests

Add runtime parameter to first startStream call in test
  src/services/streamManager.test.ts
Due: none

Fix todo.test.ts to use runtimeTempDir consistently
  src/services/tools/todo.test.ts
Due: none

Fix remaining test issues: runtime params and tempDir references
  src/services/streamManager.test.ts
Due: none

Run prettier formatting on aiService.ts and streamManager.ts
  src/services/aiService.ts
  src/services/streamManager.ts
Due: unit-tests

Fix all test files to use runtimeTempDir and pass runtime parameter
  src/services/streamManager.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/todo.test.ts
Due: none

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
