Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 fix: handle null event in server mode
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: change TERMINAL_INPUT from on() to handle() for server mode
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: create unique terminal windows in browser mode
  src/browser/api.ts
Due: unit-tests

🤖 chore: remove debug logging from terminal handlers
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: skip update checks in browser mode instead of stub handlers
  Makefile
  src/browser/api.ts
  src/components/TitleBar.tsx
  src/main-server.ts
Due: unit-tests

fmt
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: prevent nodemon from watching main.js in dev-server
  Makefile
Due: none

Fix hidden height on streaming workspace list
  src/components/WorkspaceListItem.tsx
  src/components/ai-elements/shimmer.tsx
Due: unit-tests

🤖 feat: set terminal window title to show project/workspace name
  src/terminal-window.tsx
Due: unit-tests

🤖 fix: remove error when opening terminal in server mode
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: use workspace.list() to get metadata for terminal title
  src/terminal-window.tsx
Due: unit-tests

Revert "🤖 fix: remove error when opening terminal in server mode"
  src/services/ipcMain.ts
Due: unit-tests

fmt
  src/terminal-window.tsx
Due: unit-tests

🤖 fix: add postinstall script to rebuild native dependencies
  Makefile
  package.json
Due: none

ci
  package.json
  src/App.stories.tsx
  src/types/ipc.ts
Due: unit-tests

build
  package.json
Due: none

readd dependency
  bun.lock
  package.json
Due: none

omit 'server' arg to main-server
  src/main.ts
Due: unit-tests

make lint
  src/preload.ts
  src/services/ipcMain.ts
Due: unit-tests

test
  src/main.ts
Due: unit-tests

🤖 feat: add slash commands to RN chat
  apps/mobile/src/api/client.ts
  apps/mobile/src/components/RunSettingsSheet.tsx
  apps/mobile/src/components/SlashCommandSuggestions.tsx
  apps/mobile/src/components/ToastBanner.tsx
  apps/mobile/src/hooks/useSlashCommandSuggestions.ts
  apps/mobile/src/screens/WorkspaceScreen.tsx
  apps/mobile/src/utils/slashCommandHelpers.test.ts
  apps/mobile/src/utils/slashCommandHelpers.ts
  apps/mobile/src/utils/slashCommandRunner.test.ts
  apps/mobile/src/utils/slashCommandRunner.ts
  jest.config.js
Due: none

feat: render markdown in mobile reasoning
  apps/mobile/src/components/MarkdownMessageBody.tsx
  apps/mobile/src/components/ProposePlanCard.tsx
  apps/mobile/src/messages/MessageRenderer.tsx
  apps/mobile/src/messages/markdownStyles.ts
  apps/mobile/src/messages/markdownUtils.ts
Due: none

🤖 feat: align mobile TODO lifecycle with desktop behavior
  apps/mobile/app/workspace/[id].tsx
  apps/mobile/src/components/FloatingTodoCard.tsx
  apps/mobile/src/contexts/WorkspaceActionsContext.tsx
  apps/mobile/src/screens/WorkspaceScreen.tsx
  apps/mobile/src/utils/todoLifecycle.test.ts
  apps/mobile/src/utils/todoLifecycle.ts
Due: none

feat: align mobile workspace ordering w/ activity
  apps/mobile/src/api/client.ts
  apps/mobile/src/components/WorkspaceActivityIndicator.tsx
  apps/mobile/src/hooks/useProjectsData.ts
  apps/mobile/src/screens/ProjectsScreen.tsx
  apps/mobile/src/types/index.ts
  src/App.stories.tsx
  src/browser/api.ts
  src/constants/ipc-constants.ts
  src/main-server.ts
  src/preload.ts
  src/services/ExtensionMetadataService.test.ts
  src/services/ExtensionMetadataService.ts
  src/services/ipcMain.ts
  src/types/ipc.ts
  src/types/workspace.ts
Due: unit-tests

Split projects into it's own context with tests (#600)
  bun.lock
  package.json
  src/App.tsx
  src/components/AppLoader.tsx
  src/components/LeftSidebar.tsx
  src/components/ProjectSidebar.tsx
  src/contexts/AppContext.tsx
  src/contexts/ProjectContext.test.tsx
  src/contexts/ProjectContext.tsx
  src/hooks/useProjectManagement.ts
  src/hooks/useSortedWorkspacesByProject.ts
  src/hooks/useWorkspaceManagement.ts
Due: unit-tests

Fix the tokenizer tests mocking globally
  src/utils/tokens/tokenStatsCalculator.test.ts
Due: none

Fix jest import
  src/utils/tokens/tokenStatsCalculator.test.ts
Due: none

Try to fix the mock
  src/utils/tokens/tokenStatsCalculator.test.ts
Due: none

Fix
  src/utils/tokens/tokenStatsCalculator.test.ts
Due: none

Fix the tokenizer tests mocking globally (#608)
  src/utils/tokens/tokenStatsCalculator.test.ts
Due: none

Fix styles
  src/components/Messages/MessageWindow.tsx
  src/components/tools/shared/ToolPrimitives.tsx
Due: unit-tests

🤖 fix: resolve lint issues and rebase onto main
  src/components/ChatInput/index.tsx
  src/components/Messages/MessageWindow.tsx
  src/components/Messages/UserMessage.tsx
Due: unit-tests

Prettify messages
  src/App.stories.tsx
  src/components/AIView.tsx
  src/components/ChatInput/index.tsx
  src/components/Messages/AssistantMessage.tsx
  src/components/Messages/MessageWindow.tsx
  src/components/Messages/ModelDisplay.tsx
  src/components/Messages/ReasoningMessage.tsx
  src/components/Messages/UserMessage.tsx
  src/components/tools/shared/ToolPrimitives.tsx
  src/styles/globals.css
Due: unit-tests

🤖 fix: update E2E test for 'Thought...' label
  tests/e2e/scenarios/toolFlows.spec.ts
Due: integration-tests

Reduce the outdenting of workspaces in the sidebar
  src/App.stories.tsx
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

Reduce the outdenting of workspaces in the sidebar (#609)
  src/App.stories.tsx
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 refactor: split workspaces into WorkspaceContext with tests
  src/components/AppLoader.tsx
  src/contexts/WorkspaceContext.test.tsx
  src/contexts/WorkspaceContext.tsx
Due: unit-tests

🤖 fix: expose setWorkspaceMetadata from WorkspaceContext
  src/components/AppLoader.tsx
  src/contexts/WorkspaceContext.tsx
Due: unit-tests

🤖 fix: resolve eslint warnings in WorkspaceContext
  src/components/AppLoader.tsx
  src/contexts/WorkspaceContext.test.tsx
  src/contexts/WorkspaceContext.tsx
Due: unit-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
