Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 fix: apply linting after merge
  src/components/tools/ProposePlanToolCall.tsx
Due: unit-tests

Add explicit CSS classes for tooltip utilities
  src/styles/globals.css
Due: unit-tests

Clean up notification code: fix desktop notifications and remove unused IPC
  src/App.stories.tsx
  src/browser/api.ts
  src/constants/ipc-constants.ts
  src/preload.ts
  src/services/NotificationService.ts
  src/services/ipcMain.ts
  src/types/ipc.ts
Due: unit-tests

🤖 Add auto-rebase feature for workspaces
  src/assets/icons/refresh.svg
  src/components/AIView.tsx
  src/components/GitStatusIndicator.tsx
  src/components/GitStatusIndicatorView.Rebase.stories.tsx
  src/components/GitStatusIndicatorView.stories.tsx
  src/components/GitStatusIndicatorView.tsx
  src/components/hooks/useDebouncedCallback.ts
  src/components/hooks/useGitBranchDetails.ts
  src/components/hooks/useTimedCache.ts
  src/config.ts
  src/constants/ipc-constants.ts
  src/main.ts
  src/preload.ts
  src/services/gitBranchService.ts
  src/services/gitService.ts
  src/services/ipcMain.ts
  src/types/ipc.ts
  src/types/project.ts
  src/utils/commands/sources.test.ts
  src/utils/git/branchScript.ts
  tests/e2e/scenarios/gitRebase.spec.ts
  tests/ipcMain/rebase.test.ts
Due: unit-tests, integration-tests

wip
  eslint.config.mjs
  src/components/GitStatusIndicator.tsx
  src/components/GitStatusIndicatorView.Rebase.stories.tsx
  src/components/GitStatusIndicatorView.tsx
  src/components/hooks/useDebouncedCallback.ts
  src/components/hooks/useGitBranchDetails.ts
  src/components/hooks/useTimedCache.ts
  src/config.ts
  src/preload.ts
  src/services/gitService.ts
  src/services/ipcMain.ts
  src/types/ipc.ts
  src/utils/assert.test.ts
  src/utils/assert.ts
  src/utils/git/branchScript.ts
  src/utils/git/fetchBranchInfo.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/rebase.test.ts
Due: unit-tests, integration-tests

🤖 Fix rebase conflicts and type errors
  .claude/settings.local.json
  src/components/GitStatusIndicatorView.tsx
  src/config.ts
  src/debug/agentSessionCli.ts
  src/debug/chatExtractors.ts
  src/main-desktop.ts
  src/main.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
  src/services/utils/sendMessageError.ts
  src/stores/WorkspaceConsumerManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/main/tokenizer.ts
  src/utils/tokens/TokenStatsWorker.ts
Due: unit-tests

add esbuild dep
  bun.lock
  package.json
Due: none

🤖 Fix ENOENT error in todo_write for SSH runtimes
  src/services/tools/todo.test.ts
  src/services/tools/todo.ts
Due: unit-tests

🤖 Fix UI freeze when sending message in SSH workspaces
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Use runtime abstraction for todo tool file operations
  src/services/tools/todo.test.ts
  src/services/tools/todo.ts
Due: unit-tests

🤖 Fix ENOENT error in todo_write for SSH runtimes (#449)
  src/services/tools/todo.test.ts
  src/services/tools/todo.ts
Due: unit-tests

🤖 Fix UI freeze when sending message in SSH workspaces (#450)
  src/components/ChatInput.tsx
Due: unit-tests

🤖 Eliminate race conditions in init state with promise-based waiting
  src/debug/agentSessionCli.ts
  src/debug/replay-history.ts
  src/services/aiService.test.ts
  src/services/aiService.ts
  src/services/initStateManager.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/services/tools/testHelpers.ts
  src/services/tools/toolHelpers.ts
  src/utils/tools/tools.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/setup.ts
Due: unit-tests, integration-tests

Include local username in controlPath hash to prevent cross-user collisions
  src/runtime/sshConnectionPool.test.ts
Due: none

Remove no-op dispose() method
  src/runtime/SSHRuntime.ts
  src/runtime/sshConnectionPool.ts
Due: unit-tests

🤖 Implement SSH connection pooling with pure functions
  src/runtime/SSHRuntime.ts
  src/runtime/sshConnectionPool.test.ts
  src/runtime/sshConnectionPool.ts
Due: unit-tests

🤖 Implement SSH connection pooling (#453)
  src/runtime/SSHRuntime.ts
  src/runtime/sshConnectionPool.test.ts
  src/runtime/sshConnectionPool.ts
Due: unit-tests

Use /root for root user in SSH srcBaseDir
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
Due: unit-tests

Fix SSH runtime redundant cd detection tests
  src/services/tools/bash.test.ts
Due: none

Format LocalRuntime.test.ts
  src/runtime/LocalRuntime.test.ts
Due: none

🤖 Add resolvePath() to Runtime interface for tilde expansion
  src/runtime/LocalRuntime.test.ts
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
  src/services/gitService.test.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Fix: Mark unused runtime parameter with underscore prefix
  src/services/tools/fileCommon.ts
Due: unit-tests

Expand tilde in LocalRuntime srcBaseDir at construction time
  src/runtime/LocalRuntime.test.ts
  src/runtime/LocalRuntime.ts
  src/runtime/tildeExpansion.test.ts
  src/runtime/tildeExpansion.ts
Due: unit-tests

Fix lint: use nullish coalescing
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
Due: unit-tests

Reject tilde paths in SSH runtime srcBaseDir
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Fix: Remove async from LocalRuntime.resolvePath()
  src/runtime/LocalRuntime.ts
Due: unit-tests

🤖 Block redundant path prefixes in file_* tools to save tokens
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
Due: unit-tests

Restore redundant cd rejection in bash tool
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

Derive SSH srcBaseDir from username
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Use runtime.normalizePath() for DRY in validateNoRedundantPrefix
  src/services/tools/fileCommon.ts
Due: unit-tests

🤖 Enable redundant path prefix validation for SSH runtime
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
Due: unit-tests

🤖 Fix: Catch runtime creation errors in WORKSPACE_CREATE handler
  src/services/ipcMain.ts
Due: unit-tests

Format chatCommands.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Fix resolvePath() to separate path resolution from existence checking
  src/runtime/LocalRuntime.test.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
  src/services/gitService.test.ts
Due: unit-tests

🤖 Add timeout requirement to SSHRuntime.execSSHCommand()
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Update createWorkspace integration tests for new tilde resolution logic
  tests/ipcMain/createWorkspace.test.ts
Due: none

📝 Clarify that integration tests require bun x jest
  docs/AGENTS.md
Due: none

🤖 Fix SSHRuntime.resolvePath() to work with BusyBox
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Expand tilde paths at workspace creation (#451)
  docs/AGENTS.md
  src/runtime/LocalRuntime.test.ts
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
  src/runtime/tildeExpansion.test.ts
  src/runtime/tildeExpansion.ts
  src/services/gitService.test.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Fix integration test for idempotent deleteWorkspace
  tests/runtime/runtime.test.ts
Due: none

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
