Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 fix: use 'bash -l' instead of 'exec $SHELL' for SSH terminals
  src/services/ptyService.ts
Due: unit-tests

🤖 refactor: map PROVIDER_REGISTRY to import functions, eliminate all duplication
  src/constants/providers.test.ts
  src/constants/providers.ts
  src/services/aiService.ts
Due: unit-tests

🤖 fix: prevent ForceDeleteModal overflow with long error logs
  src/components/ForceDeleteModal.tsx
  src/components/Modal.tsx
Due: unit-tests

🤖 feat: add OpenRouter provider support (#550)
  .env.example
  README.md
  bun.lock
  docs/AGENTS.md
  docs/models.md
  package.json
  src/constants/providers.test.ts
  src/constants/providers.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/types/providerOptions.ts
  src/types/thinking.ts
  src/utils/ai/providerOptions.ts
  src/utils/providers/ensureProvidersConfig.ts
  src/utils/tokens/models-extra.ts
  src/utils/tokens/models.json
Due: unit-tests

🤖 fix: prevent ForceDeleteModal overflow with long error logs (#554)
  src/components/ForceDeleteModal.tsx
  src/components/Modal.tsx
Due: unit-tests

🤖 feat: add embedded terminal for SSH workspaces
  src/components/ChatInput.tsx
  src/components/Terminal/TerminalView.tsx
  src/hooks/useAIViewKeybinds.ts
  src/hooks/useTerminalSession.ts
  src/services/ptyService.ts
  src/services/terminalServer.ts
Due: unit-tests

🤖 fix: use dvh units for body height
  src/styles/globals.css
Due: unit-tests

docs: add screenshot to agentic git identity
  docs/agentic-git-identity.md
  docs/img/agentic-git-id.webp
Due: none

fix: enable windows builds
  .github/actions/setup-cmux/action.yml
  .github/workflows/release.yml
  Makefile
  bun.lock
  eslint.config.mjs
  fmt.mk
  package.json
  src/App.tsx
  src/components/NewWorkspaceModal.tsx
  src/components/ProjectSidebar.tsx
  src/components/SecretsModal.tsx
  src/config.ts
  src/runtime/LocalRuntime.test.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/tildeExpansion.ts
  src/services/bashExecutionService.ts
  src/services/ipcMain.ts
  src/services/log.ts
  src/services/shell.ts
  src/services/streamManager.ts
  src/services/tools/bash.test.ts
  src/services/tools/fileCommon.ts
  src/utils/commands/sources.ts
  src/utils/disposableExec.test.ts
  src/utils/disposableExec.ts
  src/utils/git/diffParser.test.ts
  src/utils/pathUtils.ts
  src/utils/platform/paths.test.ts
  src/utils/platform/paths.ts
  src/utils/ui/pathAbbreviation.ts
  src/utils/ui/pathFormatting.ts
  tests/__mocks__/chalk.js
  tsconfig.main.json
Due: unit-tests, integration-tests

🤖 fix: increase SSH resolvePath timeout to 10s
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: increase SSH resolvePath timeout to 10s (#556)
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: minimize Windows changes for dev + release.exe
  .github/actions/setup-cmux/action.yml
  .github/workflows/release.yml
  Makefile
Due: none

🤖 fix: Ctrl+C no longer interrupts stream when text is selected
  src/hooks/useAIViewKeybinds.ts
Due: unit-tests

🤖 feat: add Shift+M shortcut to mark entire file as read in code review
  src/components/RightSidebar/CodeReview/HunkViewer.tsx
  src/components/RightSidebar/CodeReview/ReviewPanel.tsx
  src/utils/ui/keybinds.ts
Due: unit-tests

🤖 feat: add Shift+M shortcut to mark entire file as read in code review (#560)
  src/components/RightSidebar/CodeReview/HunkViewer.tsx
  src/components/RightSidebar/CodeReview/ReviewPanel.tsx
  src/utils/ui/keybinds.ts
Due: unit-tests

🤖 perf: enhance Anthropic prompt caching with multi-tier strategy
  src/utils/ai/cacheStrategy.test.ts
  src/utils/ai/cacheStrategy.ts
Due: unit-tests

🤖 fix: change interrupt stream keybind to Ctrl+D on Linux/Windows
  docs/vim-mode.md
  src/components/AIView.tsx
  src/components/ChatInput.tsx
  src/utils/ui/keybinds.ts
Due: unit-tests

🤖 fix: vim-aware interrupt keybinds (Ctrl+C in vim, Esc otherwise)
  docs/vim-mode.md
  src/components/AIView.tsx
  src/components/ChatInput.tsx
  src/components/Messages/UserMessage.tsx
  src/hooks/useAIViewKeybinds.ts
  src/utils/ui/keybinds.ts
Due: unit-tests

🤖 Make Ctrl+C always interrupt in vim mode
  docs/vim-mode.md
  src/hooks/useAIViewKeybinds.ts
Due: unit-tests

🤖 fix: vim-aware interrupt keybinds (Ctrl+C in vim, Esc otherwise) (#562)
  docs/vim-mode.md
  src/components/AIView.tsx
  src/components/ChatInput.tsx
  src/components/Messages/UserMessage.tsx
  src/hooks/useAIViewKeybinds.ts
  src/utils/ui/keybinds.ts
Due: unit-tests

fix: remove unused CacheControl interface and format test file
  src/utils/ai/cacheStrategy.test.ts
  src/utils/ai/cacheStrategy.ts
Due: unit-tests

fix: replace findLastIndex with ES2021-compatible loop for Jest
  src/utils/ai/cacheStrategy.ts
Due: unit-tests

🤖 refactor: make ExtensionMetadataService stateless with atomic writes
  src/bench/headlessEnvironment.ts
  src/config.ts
  src/main-desktop.ts
  src/main-server.ts
  src/services/ExtensionMetadataService.ts
  src/services/ipcMain.ts
  src/utils/atomicWrite.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

🤖 fix: add TypeScript path mappings for cmux imports
  vscode/tsconfig.json
Due: none

🤖 refactor: use bun instead of npm for VS Code extension build
  vscode/package-lock.json
  vscode/package.json
Due: none

🤖 refactor: remove atomicWrite proxy and make all writes async
  src/config.test.ts
  src/config.ts
  src/services/ExtensionMetadataService.ts
  src/services/ipcMain.ts
  src/utils/atomicWrite.ts
Due: unit-tests

🤖 refactor: isolate VS Code extension build system
  Makefile
  docs/development/native-modules.md
  vscode/Makefile
  vscode/package.json
Due: none

🤖 refactor: add reusable build-vscode-extension action
  .github/actions/build-vscode-extension/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

🤖 fix: remove external link from docs
  docs/vscode-extension.md
Due: none

🤖 refactor: normalize runtimeConfig in config file on load
  docs/vscode-extension.md
  src/config.ts
Due: unit-tests

🤖 feat: show recency timestamp in VS Code extension QuickPick
  vscode/.vscodeignore
  vscode/src/extension.ts
Due: none

🤖 refactor: use getProjectName helper for path computation
  vscode/src/cmuxConfig.ts
  vscode/src/workspaceOpener.ts
Due: none

🤖 refactor: share extension metadata code via sync-shared.sh
  src/services/ExtensionMetadataService.ts
  src/utils/extensionMetadata.ts
  vscode/scripts/sync-shared.sh
  vscode/src/cmuxConfig.ts
Due: unit-tests

🤖 fix: rebuild better-sqlite3 for Cursor's Node.js version
  vscode/bun.lock
  vscode/package.json
  vscode/src/shared/dateTime.ts
  vscode/src/shared/types.ts
Due: none

🤖 refactor: replace SQLite metadata store with JSON
  Makefile
  bun.lock
  package.json
  src/services/ExtensionMetadataService.ts
  src/services/MetadataStore.ts
  src/services/ipcMain.ts
  vscode/bun.lock
  vscode/package.json
  vscode/src/cmuxConfig.ts
Due: unit-tests

🤖 feat: add VS Code extension to release workflow
  .github/workflows/release.yml
Due: none

🤖 refactor: tidy metadata store dir handling, type guards, and extension typing\n\n_Generated with _
  docs/development/native-modules.md
  src/services/MetadataStore.ts
  src/services/ipcMain.ts
  vscode/src/cmuxConfig.ts
Due: unit-tests

🤖 fix: ensure native modules are rebuilt for Electron
  Makefile
  bun.lock
  docs/development/native-modules.md
  package.json
Due: none

🤖 feat: automate shared code sync between main app and VS Code extension
  vscode/package.json
  vscode/scripts/sync-shared.sh
  vscode/src/cmuxConfig.ts
  vscode/src/extension.ts
  vscode/src/shared/dateTime.ts
  vscode/src/shared/types.ts
Due: none
