Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Fix eslint errors in test files
  src/services/streamManager.test.ts
Due: none

Fix tempDir references added in main branch
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_operation.test.ts
Due: none

Install imagemacick in the NPM build
  .github/workflows/publish-npm.yml
Due: none

🤖 Fix system message to conditionally describe workspace type
  docs/AGENTS.md
  docs/fork.md
  docs/instruction-files.md
  docs/intro.md
  docs/system-prompt.md
  docs/workspaces.md
  src/App.tsx
  src/components/ForceDeleteModal.tsx
  src/components/Modal.stories.tsx
  src/components/NewWorkspaceModal.tsx
  src/config.ts
  src/services/ipcMain.ts
  src/stores/WorkspaceStore.test.ts
  src/types/project.ts
  src/types/workspace.ts
Due: unit-tests

🤖 Remove overly aggressive mermaid error hiding
  src/components/Messages/Mermaid.tsx
  src/styles/globals.css
Due: unit-tests

Fix linting and formatting issues
  src/utils/messages/sanitizeToolInput.test.ts
  src/utils/messages/sanitizeToolInput.ts
Due: unit-tests

Remove useless tests that don't call our code
  src/utils/messages/sanitizeToolInput.test.ts
Due: none

🤖 Sanitize malformed tool inputs before API calls
  src/services/aiService.ts
  src/utils/messages/sanitizeToolInput.test.ts
  src/utils/messages/sanitizeToolInput.ts
Due: unit-tests

🤖 Sanitize malformed tool inputs in chat history (#442)
  src/services/aiService.ts
  src/utils/messages/sanitizeToolInput.test.ts
  src/utils/messages/sanitizeToolInput.ts
Due: unit-tests

Fix system message to conditionally describe workspace type (#436)
  docs/AGENTS.md
  docs/fork.md
  docs/instruction-files.md
  docs/intro.md
  docs/system-prompt.md
  docs/workspaces.md
  src/App.tsx
  src/components/ForceDeleteModal.tsx
  src/components/Modal.stories.tsx
  src/components/NewWorkspaceModal.tsx
  src/config.ts
  src/services/ipcMain.ts
  src/stores/WorkspaceStore.test.ts
  src/types/project.ts
  src/types/workspace.ts
Due: unit-tests

Remove debug logging from SSHRuntime
  src/runtime/SSHRuntime.ts
Due: unit-tests

Add popover colors to :root for inline style access
  src/styles/globals.css
Due: unit-tests

Migrate RuntimeBadge to shadcn tooltips
  src/components/RuntimeBadge.tsx
Due: unit-tests

🤖 fix: apply linting fixes after merge
  src/components/Context1MCheckbox.tsx
  src/components/NewWorkspaceModal.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

Fix trunk branch bug in SSH createWorkspace (#435)
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
  tests/setup.ts
Due: unit-tests, integration-tests

🤖 Add educational note when bash commands use cd
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/types/tools.ts
Due: unit-tests

Use hardcoded HSL values for tooltip colors
  src/components/ui/tooltip.tsx
Due: unit-tests

🤖 fix: prettier formatting for Context1MCheckbox
  src/components/Context1MCheckbox.tsx
Due: unit-tests

Simplify tooltip styling to bare minimum for debugging
  src/components/ui/tooltip.tsx
Due: unit-tests

🤖 Add completion notifications for desktop, web, and mobile PWA
  bun.lock
  package.json
  public/service-worker.js
  src/App.stories.tsx
  src/browser/api.ts
  src/constants/ipc-constants.ts
  src/constants/storage.ts
  src/main-server.ts
  src/preload.ts
  src/services/NotificationService.ts
  src/services/ipcMain.ts
  src/stores/WorkspaceStore.ts
  src/types/ipc.ts
  src/types/notification.ts
  src/utils/commands/sources.ts
  src/utils/notifications/pushSubscription.ts
Due: unit-tests

Fix bash tool to use runtime-appropriate temp directory (#433)
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/streamManager.test.ts
  src/services/streamManager.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/todo.test.ts
  src/services/tools/todo.ts
  src/utils/tools/tools.ts
Due: unit-tests

Use native shadcn color scheme for tooltips
  src/components/ui/tooltip.tsx
  src/styles/globals.css
Due: unit-tests

Fix prettier formatting
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

🤖 Fix service worker cache errors for POST requests
  public/service-worker.js
Due: none

Fix lint errors: readonly fields, sync fs comments, unused vars, dynamic import
  src/constants/storage.ts
  src/services/NotificationService.ts
  src/services/ipcMain.ts
  src/utils/commands/sources.ts
Due: unit-tests

🤖 Prevent mermaid 'Syntax error in text' DOM pollution (#425)
  src/components/Messages/Mermaid.test.tsx
  src/components/Messages/Mermaid.tsx
  src/mocks/mermaidStub.ts
Due: unit-tests

🤖 Remove sync fs operations and path-finding from runtime
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/executablePaths.ts
Due: unit-tests

🤖 Fix service worker cache errors for POST requests (#446)
  public/service-worker.js
Due: none

🤖 Add educational note when bash commands use cd (#444)
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/types/tools.ts
Due: unit-tests

Fix formatting: remove trailing newline
  src/hooks/useCopyToClipboard.ts
Due: unit-tests

🤖 Deduplicate copy-to-clipboard logic with useCopyToClipboard hook
  src/components/Messages/AssistantMessage.tsx
  src/components/Messages/UserMessage.tsx
  src/components/tools/FileEditToolCall.tsx
  src/components/tools/ProposePlanToolCall.tsx
  src/constants/ui.ts
  src/hooks/useCopyToClipboard.ts
Due: unit-tests

🤖 Consolidate duplicated test infrastructure
  tests/ipcMain/helpers.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/renameWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/ipcMain/test-helpers/runtimeTestHelpers.ts
Due: integration-tests

Fix merge conflict: update new test to use consolidated helpers
  tests/ipcMain/runtimeFileEditing.test.ts
Due: none

🤖 Deduplicate test infrastructure and copy-to-clipboard logic (#441)
  src/components/Messages/AssistantMessage.tsx
  src/components/Messages/UserMessage.tsx
  src/components/tools/FileEditToolCall.tsx
  src/components/tools/ProposePlanToolCall.tsx
  src/constants/ui.ts
  src/hooks/useCopyToClipboard.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/renameWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/ipcMain/test-helpers/runtimeTestHelpers.ts
Due: unit-tests, integration-tests

🤖 Remove sync fs operations and path-finding from runtime (#447)
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/executablePaths.ts
Due: unit-tests

🤖 Optimize integration test parallelization (maxWorkers 200% → 100%)
  .github/workflows/ci.yml
Due: none

Fix import path: use ./log instead of ./log.js
  src/services/NotificationService.ts
Due: unit-tests

Fix Codex P1 issues: - Fix subscription filtering to preserve correct indexes - Move notification trigger to server-side for PWA support - Remove frontend notification logic (now server-side only)
  src/debug/agentSessionCli.ts
  src/services/NotificationService.ts
  src/services/agentSession.ts
  src/services/ipcMain.ts
  src/stores/WorkspaceStore.ts
Due: unit-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
