Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 refactor: consolidate retry backoff logic
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/hooks/useResumeManager.ts
  src/utils/messages/retryState.test.ts
  src/utils/messages/retryState.ts
Due: unit-tests

🤖 refactor: simplify retry state tests
  src/utils/messages/retryState.test.ts
Due: none

🤖 feat: add mdBook-pagetoc for in-page table of contents
  .gitignore
  docs/book.toml
Due: none

🤖 feat: add Shiki syntax highlighting to docs with line numbers
  .gitignore
  Makefile
  docs/theme-src/README.md
  docs/theme-src/code-blocks.ts
  docs/theme-src/tsconfig.json
  docs/theme/custom.css
  docs/theme/head.hbs
Due: none

🤖 feat: add debug flag to force all errors retryable
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 docs: clarify debug flag requires manual retry to clear state
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 debug: add console logging for retry eligibility
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 debug: switch to console.log for better visibility
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 refactor: make retry logs conditional on debug flag
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 fix: prevent backoff reset on stream start
  src/hooks/useResumeManager.ts
Due: unit-tests

🤖 debug: add targeted logging for attempt counter
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
Due: unit-tests

🤖 fix: configure HMR for custom host in dev-server
  vite.config.ts
Due: none

🤖 fix: reset retry state on stream-end not stream-start
  src/stores/WorkspaceStore.ts
Due: unit-tests

🤖 fix: increment retry counter on stream-error event
  src/stores/WorkspaceStore.ts
Due: unit-tests

🤖 fix: actually increment retry counter on stream-error
  src/stores/WorkspaceStore.ts
Due: unit-tests

🤖 fix: change docs server port to 3001 to avoid conflict with main app
  scripts/docs.sh
Due: none

🤖 refactor: clean up retry logging and simplify code
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 perf: replace client-side highlighting with build-time preprocessor
  .gitignore
  Makefile
  docs/book.toml
  docs/theme-src/README.md
  docs/theme-src/code-blocks.ts
  docs/theme-src/tsconfig.json
  docs/theme/copy-buttons.js
  docs/theme/head.hbs
  scripts/mdbook-shiki.ts
  src/utils/highlighting/shiki-shared.ts
Due: unit-tests

🤖 fix: remove unused imports
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/retryState.test.ts
Due: unit-tests

🤖 refactor: use callback pattern in updatePersistedState
  src/stores/WorkspaceStore.ts
Due: unit-tests

🤖 fix: guard window access in retry eligibility helpers
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 refactor: maximize code reuse in docs code blocks
  docs/theme/custom.css
  scripts/mdbook-shiki.ts
  src/components/Messages/CodeBlockSSR.tsx
  src/utils/highlighting/shiki-shared.ts
Due: unit-tests

🤖 ci: install mdbook-pagetoc and bun for docs build
  .github/workflows/docs.yml
Due: none

🤖 refactor: extract isForceAllRetryableEnabled helper (DRY)
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 fix: prevent retry spam by waiting until stream-end to reset retry state (#548)
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/retryEligibility.ts
  src/utils/messages/retryState.test.ts
  src/utils/messages/retryState.ts
  vite.config.ts
Due: unit-tests

🤖 refactor: eliminate duplication and unused code
  scripts/mdbook-shiki.ts
  src/components/Messages/CodeBlockSSR.tsx
  src/components/Messages/MarkdownComponents.tsx
Due: unit-tests

🤖 fix: process nested chapter code blocks correctly
  docs/book.toml
  scripts/mdbook-shiki.ts
Due: none

🤖 style: set code block font size to 12px
  docs/theme/custom.css
Due: none

🤖 style: increase line number border opacity
  docs/theme/custom.css
Due: none

🤖 feat: improve docs with Shiki highlighting and page TOC (#547)
  .github/workflows/docs.yml
  .gitignore
  docs/book.toml
  docs/theme/copy-buttons.js
  docs/theme/custom.css
  scripts/docs.sh
  scripts/mdbook-shiki.ts
  src/components/Messages/CodeBlockSSR.tsx
  src/components/Messages/MarkdownComponents.tsx
  src/utils/highlighting/shiki-shared.ts
Due: unit-tests

🤖 refactor: per-extension host architecture with capnweb RPC
  bun.lock
  package.json
  src/App.stories.tsx
  src/browser/api.ts
  src/constants/ipc-constants.ts
  src/preload.ts
  src/services/aiService.ts
  src/services/extensions/compiler.test.ts
  src/services/extensions/compiler.ts
  src/services/extensions/extensionHost.ts
  src/services/extensions/extensionManager.ts
  src/services/extensions/nodeIpcTransport.ts
  src/services/ipcMain.ts
  src/types/extensions.ts
  src/types/ipc.ts
  src/utils/extensions/discovery.test.ts
  src/utils/extensions/discovery.ts
  tests/extensions/extensions.test.ts
  tests/extensions/fixtures/README.md
  tests/extensions/fixtures/broken-extension.js
  tests/extensions/fixtures/broken-extension.ts
  tests/extensions/fixtures/folder-extension/index.js
  tests/extensions/fixtures/folder-extension/index.ts
  tests/extensions/fixtures/folder-extension/manifest.json
  tests/extensions/fixtures/minimal-extension.js
  tests/extensions/fixtures/simple-logger.js
  tests/extensions/fixtures/simple-logger.ts
  tests/extensions/fixtures/typescript-logger.ts
  tests/extensions/fixtures/working-extension.js
  tests/extensions/fixtures/working-extension.ts
  tests/extensions/helpers.ts
  tsconfig.main.json
Due: unit-tests, integration-tests

docs(AGENTS): state explicit preference against mocks; dedupe root section
  docs/AGENTS.md
Due: none

docs(AGENTS): add explicit preference against mocks; tests: remove mock usage in extensionManager.test.ts
  docs/AGENTS.md
  src/services/extensions/extensionManager.test.ts
Due: none

🤖 feat: extensions can modify tool results + docs
  docs/SUMMARY.md
  docs/extensions.md
  src/services/extensions/extensionHost.ts
  src/services/extensions/extensionManager.ts
  src/services/streamManager.ts
  src/types/extensions.ts
  tests/extensions/fixtures/folder-extension/index.ts
  tests/extensions/fixtures/result-modifier.ts
  tests/extensions/fixtures/simple-logger.ts
  tests/extensions/fixtures/working-extension.ts
Due: unit-tests, integration-tests

refactor: extract runtimeConfig default; use async fs and test.concurrent in extensionManager tests
  docs/AGENTS.md
  src/services/aiService.ts
  src/services/extensions/extensionManager.test.ts
Due: unit-tests

🤖 fix: correct import path in extension docs
  docs/extensions.md
Due: none

🤖 fix: update test fixtures to use correct Runtime API
  tests/extensions/fixtures/folder-extension/index.ts
  tests/extensions/fixtures/simple-logger.ts
  tests/extensions/fixtures/working-extension.ts
Due: integration-tests

🤖 docs: improve Extension and Runtime interface documentation
  docs/extensions.md
Due: none

🤖 fix: correct Runtime API in extension docs
  docs/extensions.md
Due: none

refactor(tests): use real extension files from fixtures with proper types
  tests/extensions/extensions.test.ts
  tests/extensions/fixtures/README.md
  tests/extensions/fixtures/broken-extension.js
  tests/extensions/fixtures/folder-extension/index.js
  tests/extensions/fixtures/folder-extension/manifest.json
  tests/extensions/fixtures/minimal-extension.js
  tests/extensions/fixtures/simple-logger.js
  tests/extensions/fixtures/working-extension.js
Due: integration-tests
