Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 Optimize setup-cmux action with node_modules caching (#424)
  .github/actions/setup-cmux/action.yml
Due: none

🤖 Persist runtime preference per project
  src/App.tsx
  src/components/NewWorkspaceModal.stories.tsx
  src/components/NewWorkspaceModal.tsx
  src/constants/storage.ts
Due: unit-tests

Fix integration test coverage upload to Codecov
  codecov.yml
Due: none

🤖 Add SSH runtime badge to workspace sidebar and title bar
  src/components/RuntimeBadge.tsx
  src/components/TitleBar.tsx
  src/components/WorkspaceListItem.tsx
  src/utils/ui/runtimeBadge.test.ts
  src/utils/ui/runtimeBadge.ts
Due: unit-tests

🤖 Add useNewWorkspaceOptions hook for consistent runtime management
  src/components/NewWorkspaceModal.tsx
  src/hooks/useNewWorkspaceOptions.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Fix grid layout: group runtime badge with workspace name
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 Fix alignment: right-align badge and workspace name
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 Replace emoji with SVG icon for runtime badge
  src/components/RuntimeBadge.tsx
Due: unit-tests

🤖 Add runtime badge to workspace title header
  src/App.tsx
  src/components/AIView.tsx
Due: unit-tests

🤖 Remove runtime badge from left sidebar title bar
  src/components/TitleBar.tsx
Due: unit-tests

🤖 Deduplicate runtime mode types and constants
  src/components/NewWorkspaceModal.tsx
  src/hooks/useNewWorkspaceOptions.ts
  src/types/runtime.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Remove unnecessary enabled parameter from useNewWorkspaceOptions
  src/components/NewWorkspaceModal.tsx
  src/hooks/useNewWorkspaceOptions.ts
Due: unit-tests

Fix integration test coverage upload to Codecov (#426)
  codecov.yml
Due: none

🤖 Add SSH runtime workspaces to Storybook stories
  src/App.stories.tsx
Due: unit-tests

🤖 Fix formatting
  src/components/NewWorkspaceModal.tsx
  src/hooks/useNewWorkspaceOptions.ts
  src/types/runtime.ts
Due: unit-tests

🤖 Fix mermaid rendering in Storybook
  .storybook/main.ts
  src/mocks/mermaidStub.ts
Due: unit-tests

🤖 Persist runtime preference per project (#428)
  src/App.tsx
  src/components/NewWorkspaceModal.stories.tsx
  src/components/NewWorkspaceModal.tsx
  src/constants/storage.ts
  src/hooks/useNewWorkspaceOptions.ts
  src/types/runtime.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Add SSH runtime badge to workspace UI (#427)
  src/App.stories.tsx
  src/App.tsx
  src/components/AIView.tsx
  src/components/RuntimeBadge.tsx
  src/components/WorkspaceListItem.tsx
  src/utils/ui/runtimeBadge.test.ts
  src/utils/ui/runtimeBadge.ts
Due: unit-tests

🤖 Make runtime badge icon-only to save space
  src/components/RuntimeBadge.tsx
Due: unit-tests

🤖 Make runtime badge icon-only to save horizontal space (#429)
  src/components/RuntimeBadge.tsx
Due: unit-tests

fix: run git fetch for all SSH workspaces
  src/stores/GitStatusStore.ts
Due: unit-tests

Fix SSH workspace origin remote forwarding
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

Fix SSH runtime config in test (use identityFile and host format)
  tests/ipcMain/createWorkspace.test.ts
Due: none

Replace JSON.stringify with shescape.quote for proper shell escaping
  src/runtime/SSHRuntime.ts
Due: unit-tests

fix: run git fetch for all SSH workspaces (#431)
  src/stores/GitStatusStore.ts
Due: unit-tests

Fix prettier formatting
  tests/ipcMain/createWorkspace.test.ts
Due: none

Fix redundant CD detection for SSH runtime
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

Fix SSH workspace origin remote forwarding (#430)
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

Fix prettier formatting
  src/services/tools/bash.test.ts
Due: none

Fix trailing whitespace in comments
  src/runtime/Runtime.ts
  src/services/tools/bash.ts
Due: unit-tests

🚀 Optimize ImageMagick caching in setup-cmux action
  .github/actions/setup-cmux/action.yml
Due: none

Fix redundant CD detection for SSH runtime (#432)
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

Fix ImageMagick caching: cache Homebrew downloads instead of Cellar
  .github/actions/setup-cmux/action.yml
Due: none

Simplify trunk branch test to avoid runtime branching
  tests/ipcMain/RUN_TRUNK_BRANCH_TEST.md
  tests/ipcMain/createWorkspace.test.ts
Due: integration-tests

Fix WORKSPACE_EXECUTE_BASH API usage in test
  tests/ipcMain/createWorkspace.test.ts
Due: none

Fix formatting: remove trailing whitespace
  tests/ipcMain/createWorkspace.test.ts
Due: none

Add documentation for running trunk branch bug test
  tests/ipcMain/RUN_TRUNK_BRANCH_TEST.md
Due: integration-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
