Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 Remove macOS runtime integration tests from CI
  .github/workflows/ci.yml
Due: none

🤖 Install Docker on macOS runners for runtime tests
  .github/workflows/ci.yml
Due: none

🤖 Use depot macOS runners for runtime integration tests
  .github/workflows/ci.yml
Due: none

Remove stray test README, update AGENTS.md to prevent test READMEs
  docs/AGENTS.md
Due: none

🤖 Fix type signature after rebase - add RuntimeConfig to AppContext
  src/App.tsx
  src/contexts/AppContext.tsx
Due: unit-tests

🤖 Simplify command palette - open modal instead of direct creation
  src/App.tsx
  src/utils/commands/sources.test.ts
  src/utils/commands/sources.ts
Due: unit-tests

🤖 Accept SSH hostnames without explicit user
  src/components/NewWorkspaceModal.tsx
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  src/utils/slashCommands/registry.ts
Due: unit-tests

Add timer to force re-evaluation of retry barrier
  src/components/AIView.tsx
Due: unit-tests

🤖 Fix retry barrier flash on message send
  src/utils/messages/retryEligibility.test.ts
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 Replace time-based hack with explicit pendingStreamStart tracking
  src/components/AIView.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.ts
  src/utils/messages/retryEligibility.test.ts
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 Use timestamp instead of boolean for pendingStreamStart
  src/components/AIView.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.ts
  src/utils/messages/retryEligibility.test.ts
  src/utils/messages/retryEligibility.ts
Due: unit-tests

Deduplicate showRetryBarrier computation in AIView
  src/components/AIView.tsx
Due: unit-tests

Move useEffect before early return to satisfy hooks rules
  src/components/AIView.tsx
Due: unit-tests

🤖 Fix retry barrier flash on message send (#415)
  src/components/AIView.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.ts
  src/utils/messages/retryEligibility.test.ts
  src/utils/messages/retryEligibility.ts
Due: unit-tests

🤖 Add global placeholder text styling
  src/styles/globals.css
Due: unit-tests

🤖 Split workspace creation into createWorkspace + initWorkspace
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/streamProcess.ts
  src/services/ipcMain.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Add command logging, force bash shell for SSH commands
  src/runtime/SSHRuntime.ts
  src/runtime/streamProcess.ts
  tests/runtime/ssh-server/Dockerfile
Due: unit-tests, integration-tests

🤖 Replace rsync/scp with git archive for SSH sync
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Replace git archive with git bundle for SSH workspace sync
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Fix tilde (~/) path expansion in SSH exec
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Fix tilde expansion in git clone target path
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Fix tilde expansion in init hook path
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Add workflow_dispatch test_filter to CI workflow
  .github/workflows/ci.yml
Due: none

🤖 Fix test_filter for non-dispatch events
  .github/workflows/ci.yml
Due: none

🤖 Add workflow_dispatch test_filter to CI workflow (#423)
  .github/workflows/ci.yml
Due: none

Address review feedback: remove isFile from FileStat
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
Due: unit-tests

🤖 Fix zombie process handling in LocalRuntime with 'exit' event
  src/constants/exitCodes.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.ts
  tests/ipcMain/executeBash.test.ts
Due: unit-tests

🤖 Add comprehensive runtime tests for git operations and edge cases
  src/services/tools/file_edit_operation.test.ts
  tests/runtime/runtime.test.ts
  tests/runtime/ssh-server/Dockerfile
Due: integration-tests

🤖 Fix SSH runtime shell escaping bug & add file tools integration tests
  src/runtime/SSHRuntime.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: unit-tests

🤖 Auto-format code with Prettier
  src/App.tsx
  src/components/NewWorkspaceModal.tsx
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/streamProcess.ts
  src/services/ipcMain.ts
  src/services/tools/bash.ts
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Replace manual shell escaping with shescape library
  bun.lock
  package.json
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Add Runtime.createWorkspace() interface and implementations
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/runtime/workspace-creation.test.ts
Due: unit-tests

🤖 Add runtime integration tests with Docker SSH server
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/ssh-fixture.ts
  tests/runtime/ssh-server/Dockerfile
  tests/runtime/ssh-server/entrypoint.sh
  tests/runtime/ssh-server/sshd_config
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

Fix rebase conflicts and lockfile
  bun.lock
  package.json
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

🤖 Fix lint errors in SSH runtime
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
Due: unit-tests

🤖 Add SSH runtime implementation
  bun.lock
  package.json
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/types/runtime.ts
Due: unit-tests
