Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 Use depot-macos-15 runner for runtime tests
  .github/workflows/ci.yml
Due: none

🤖 Add runtime selection UI to New Workspace Modal (DRY)
  src/App.tsx
  src/components/NewWorkspaceModal.tsx
  src/utils/chatCommands.ts
Due: unit-tests

Update workspaceInitHook tests to expect workspace creation logs
  tests/ipcMain/workspaceInitHook.test.ts
Due: none

Fix timing test to filter workspace creation logs
  tests/ipcMain/workspaceInitHook.test.ts
Due: none

🤖 Add runtime config passthrough to WORKSPACE_CREATE IPC
  src/preload.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.test.ts
  src/runtime/initHook.ts
  src/runtime/runtimeFactory.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/file_edit_operation.test.ts
  src/types/ipc.ts
  src/types/runtime.ts
  tests/ipcMain/createWorkspace.test.ts
  tests/ipcMain/helpers.ts
  tests/runtime/workspace-creation.test.ts
Due: unit-tests, integration-tests

🤖 Fix prettier formatting
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
Due: unit-tests

🤖 Accept SSH hostnames without explicit user
  src/components/NewWorkspaceModal.tsx
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  src/utils/slashCommands/registry.ts
Due: unit-tests

🤖 Add runtimeExecuteBash test with shared test helpers
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/test-helpers/runtimeTestHelpers.ts
Due: integration-tests

Fix formatting
  tests/ipcMain/workspaceInitHook.test.ts
Due: none

🤖 Remove macOS runtime integration tests from CI
  .github/workflows/ci.yml
Due: none

Remove exists() from Runtime interface, use shared utility
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/file_edit_insert.ts
  src/utils/runtime/fileExists.ts
Due: unit-tests

🤖 Fix bash tool to use runtime interface for SSH support
  src/config.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/types/project.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

🤖 Integrate runtime config with workspace metadata and AIService
  src/services/aiService.ts
  src/services/ipcMain.ts.bak
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts.bak
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/types/workspace.ts
Due: unit-tests

🤖 Add pluggable runtime abstraction layer
  docs/AGENTS.md
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/utils/tools/tools.ts
  tsconfig.json
Due: unit-tests

🤖 Install Docker on macOS runners for runtime tests
  .github/workflows/ci.yml
Due: none

🤖 Add workdir to LocalRuntime for symmetry with SSHRuntime
  src/runtime/LocalRuntime.ts
  src/runtime/runtimeFactory.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/types/runtime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

🤖 Fix bash tool SSH support - use runtime's workdir and writeFile
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/aiService.ts
  src/services/tools/bash.ts
  src/utils/tools/tools.ts
Due: unit-tests

Convert Runtime interface to streaming with convenience helpers
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  src/utils/runtime/helpers.ts
Due: unit-tests

🤖 Add command logging, force bash shell for SSH commands
  src/runtime/SSHRuntime.ts
  src/runtime/streamProcess.ts
  tests/runtime/ssh-server/Dockerfile
Due: unit-tests, integration-tests

Extract git env vars to shared constant to avoid duplication
  src/constants/env.ts
  src/runtime/LocalRuntime.ts
  src/services/tools/bash.ts
Due: unit-tests

🤖 Fix prettier formatting
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_replace.test.ts
Due: none

🤖 Fix tilde expansion in git clone target path
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Add runtime config support to workspace creation flow
  src/hooks/useWorkspaceManagement.ts
  src/runtime/Runtime.ts
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  src/utils/slashCommands/registry.ts
  src/utils/slashCommands/types.ts
Due: unit-tests

🤖 Fix type signature after rebase - add RuntimeConfig to AppContext
  src/App.tsx
  src/contexts/AppContext.tsx
Due: unit-tests

Fix static check issues (lint + typecheck)
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  src/services/tools/bash.ts
  src/types/project.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: unit-tests

Clean up extra whitespace
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

🤖 Fix /Users/ammar expansion in SSH cd commands
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Make timeout mandatory in ExecOptions to prevent zombies
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

🤖 Remove rebase backup files
  src/services/ipcMain.ts.bak
  src/services/tools/file_edit_operation.test.ts.bak
Due: unit-tests

🤖 Fix SSH runtime environment variable handling
  src/runtime/SSHRuntime.test.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

Remove stray test README, update AGENTS.md to prevent test READMEs
  docs/AGENTS.md
Due: none

🤖 Use depot macOS runners for runtime integration tests
  .github/workflows/ci.yml
Due: none

🤖 Fix prettier formatting
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/services/tools/file_read.test.ts
  src/types/runtime.ts
Due: unit-tests

🤖 Add macOS runtime integration tests to CI
  .github/workflows/ci.yml
Due: none

🤖 Fix test and type errors after rebase
  src/runtime/LocalRuntime.ts
  src/services/aiService.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
Due: unit-tests

🤖 Fix lint: remove unused import
  src/runtime/LocalRuntime.ts
Due: unit-tests

🤖 Skip local path validation for SSH runtime in file tools
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
Due: unit-tests

🤖 Integrate init hooks with Runtime.createWorkspace()
  src/runtime/initHook.test.ts
  src/runtime/initHook.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Add no-op rebuild script for electron-builder
  package.json
Due: none
