Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 refactor: cleanup and consistency improvements
  src/services/aiService.ts
  tests/ipcMain/ollama.test.ts
Due: unit-tests

🤖 refactor: remove unused variable from EventCollector
  tests/ipcMain/helpers.ts
Due: integration-tests

🤖 perf: optimize Ollama CI caching to <5s startup
  .github/workflows/ci.yml
Due: none

🤖 fix: prevent terminal-bench timeout bypass and add robust timeout handling
  .github/workflows/nightly-terminal-bench.yml
  .github/workflows/terminal-bench.yml
  Makefile
  benchmarks/terminal_bench/cmux-run.sh
  benchmarks/terminal_bench/cmux_agent.py
Due: none

fix: use python3 instead of python in benchmark-terminal target
  Makefile
Due: none

fix: remove max_timeout_sec override to use terminal-bench defaults
  benchmarks/terminal_bench/cmux_agent.py
Due: none

🤖 refactor: consolidate model_not_found error classification
  src/services/streamManager.ts
  tests/ipcMain/modelNotFound.test.ts
Due: unit-tests

fix: correct results.json parsing in workflow summary
  .github/workflows/terminal-bench.yml
Due: none

🤖 feat: add multi-pattern lookup for Ollama model context limits
  src/utils/tokens/modelStats.test.ts
  src/utils/tokens/modelStats.ts
Due: unit-tests

🤖 fix: prettier formatting
  tests/ipcMain/modelNotFound.test.ts
Due: none

🤖 refactor: remove duplicate tokenizer preloading from integration tests
  tests/ipcMain/anthropic1MContext.test.ts
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/modelNotFound.test.ts
  tests/ipcMain/openai-web-search.test.ts
  tests/ipcMain/resumeStream.test.ts
  tests/ipcMain/sendMessage.test.ts
  tests/ipcMain/streamErrorRecovery.test.ts
  tests/ipcMain/truncate.test.ts
Due: none

🤖 fix: disable disruptive table copy/download actions
  src/App.stories.tsx
  src/components/Messages/MarkdownCore.tsx
Due: unit-tests

🤖 fix: correctly classify (and not retry) model not found errors (#535)
  src/services/streamManager.ts
  tests/ipcMain/anthropic1MContext.test.ts
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/modelNotFound.test.ts
  tests/ipcMain/openai-web-search.test.ts
  tests/ipcMain/resumeStream.test.ts
  tests/ipcMain/sendMessage.test.ts
  tests/ipcMain/streamErrorRecovery.test.ts
  tests/ipcMain/truncate.test.ts
Due: unit-tests

🤖 perf: use stable cache key for Ollama (v3 without workflow hash)
  .github/workflows/ci.yml
Due: none

🤖 fix: set permissions on Ollama directory for cache saving
  .github/workflows/ci.yml
Due: none

feat: reduce GitHub Actions log verbosity for terminal-bench
  .github/workflows/nightly-terminal-bench.yml
  .github/workflows/terminal-bench.yml
Due: none

🤖 fix: disable disruptive table copy/download actions (#536)
  src/App.stories.tsx
  src/components/Messages/MarkdownCore.tsx
Due: unit-tests

🤖 refactor: cache models in /tmp to avoid permission issues
  .github/workflows/ci.yml
Due: none

refactor: simplify TB timeout handling and reduce complexity
  .github/workflows/nightly-terminal-bench.yml
  .github/workflows/terminal-bench.yml
  benchmarks/terminal_bench/cmux-run.sh
  benchmarks/terminal_bench/cmux_agent.py
Due: none

🤖 refactor: simplify Ollama setup (remove caching complexity)
  .github/workflows/ci.yml
Due: none

🤖 refactor: create setup-ollama action with caching
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
Due: none

🤖 fix: properly stop Ollama process after model pull
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
Due: none

🤖 fix: correct-by-construction process cleanup to prevent SSH hangs
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.ts
  src/utils/disposableExec.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: unit-tests

docs: add bench: prefix for benchmarking PRs
  docs/AGENTS.md
Due: none

fix: add eslint disable comments for empty catch blocks
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

fix: guard process.kill against already-dead processes
  src/utils/disposableExec.ts
Due: unit-tests

chore: apply prettier formatting
  src/utils/disposableExec.ts
Due: unit-tests

🤖 bench: simplify terminal-bench timeout handling (#533)
  .github/workflows/nightly-terminal-bench.yml
  .github/workflows/terminal-bench.yml
  Makefile
  benchmarks/terminal_bench/cmux-run.sh
  benchmarks/terminal_bench/cmux_agent.py
  docs/AGENTS.md
Due: none

fix: remove premature stream cancellation from DisposableProcess
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: use absolute path for Ollama cache (~ doesn't expand)
  .github/actions/setup-ollama/action.yml
Due: none

fix: remove auto-cleanup from DisposableProcess constructor
  src/utils/disposableExec.ts
Due: unit-tests

🤖 debug: add directory listing to verify cache contents
  .github/actions/setup-ollama/action.yml
Due: none

fix: add 10ms delay for readline to process buffered data
  src/services/tools/bash.ts
Due: unit-tests

🤖 debug: check both possible model locations
  .github/actions/setup-ollama/action.yml
Due: none

refactor: replace 10ms delay with proper readline event synchronization
  src/services/tools/bash.ts
Due: unit-tests

🤖 debug: bump cache version to v3 for fresh test
  .github/actions/setup-ollama/action.yml
Due: none

🤖 debug: remove restore-keys to force cache miss
  .github/actions/setup-ollama/action.yml
Due: none

🤖 fix: copy models from system location to cacheable location
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
Due: none
