Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

Add defensive createdAt insertion on frontend
  src/App.tsx
  src/hooks/useWorkspaceManagement.ts
Due: unit-tests

Fix: Gate selectedWorkspace behind metadata loading
  docs/AGENTS.md
  src/App.tsx
Due: unit-tests

Fix: Formatting, unused var, and update storybook stories
  src/App.stories.tsx
  src/App.tsx
  src/components/AppLoader.tsx
Due: unit-tests

🤖 Eliminate prop drilling with AppContext
  src/App.tsx
  src/components/AppLoader.tsx
  src/components/LeftSidebar.tsx
  src/contexts/AppContext.tsx
Due: unit-tests

Refactor: Clean architecture - gate workspace UI behind metadata loading
  docs/AGENTS.md
  src/App.tsx
  src/components/LoadingScreen.tsx
  src/config.ts
  src/stores/WorkspaceStore.test.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.test.ts
Due: unit-tests

Refactor: Deduplicate assertions with assertGet helper
  src/stores/WorkspaceStore.ts
Due: unit-tests

Fix: Add storesSynced state to prevent render before sync
  src/App.tsx
Due: unit-tests

🤖 Simplify initialization with AppLoader wrapper component
  src/App.tsx
  src/components/AppLoader.tsx
  src/main.tsx
Due: unit-tests

🤖 Guarantee workspace createdAt at backend level
  src/config.ts
  src/stores/WorkspaceStore.test.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.init.test.ts
  src/utils/messages/StreamingMessageAggregator.test.ts
  src/utils/messages/StreamingMessageAggregator.ts
Due: unit-tests

🤖 Guarantee workspace createdAt at backend level (#412)
  docs/AGENTS.md
  src/App.stories.tsx
  src/App.tsx
  src/components/AppLoader.tsx
  src/components/LeftSidebar.tsx
  src/components/LoadingScreen.tsx
  src/config.ts
  src/contexts/AppContext.tsx
  src/hooks/useWorkspaceManagement.ts
  src/main.tsx
  src/stores/WorkspaceStore.test.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/StreamingMessageAggregator.init.test.ts
  src/utils/messages/StreamingMessageAggregator.test.ts
  src/utils/messages/StreamingMessageAggregator.ts
Due: unit-tests

🤖 Add pluggable runtime abstraction layer
  docs/AGENTS.md
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/fileCommon.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/utils/tools/tools.ts
  tsconfig.json
Due: unit-tests

🤖 Fix lint: remove unused import
  src/runtime/LocalRuntime.ts
Due: unit-tests

🤖 Fix prettier formatting
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
Due: unit-tests

🤖 Add SSH runtime implementation
  bun.lock
  package.json
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/types/runtime.ts
Due: unit-tests

🤖 Fix test and type errors after rebase
  src/runtime/LocalRuntime.ts
  src/services/aiService.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
Due: unit-tests

🤖 Fix prettier formatting
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_replace.test.ts
Due: none

🤖 Integrate runtime config with workspace metadata and AIService
  src/services/aiService.ts
  src/services/ipcMain.ts.bak
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts.bak
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/types/workspace.ts
Due: unit-tests

🤖 Fix lint errors in SSH runtime
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
Due: unit-tests

🤖 Fix prettier formatting
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/services/tools/file_read.test.ts
  src/types/runtime.ts
Due: unit-tests

🤖 Add no-op rebuild script for electron-builder
  package.json
Due: none

Extract git env vars to shared constant to avoid duplication
  src/constants/env.ts
  src/runtime/LocalRuntime.ts
  src/services/tools/bash.ts
Due: unit-tests

Remove exists() from Runtime interface, use shared utility
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/file_edit_insert.ts
  src/utils/runtime/fileExists.ts
Due: unit-tests

Fix rebase conflicts and lockfile
  bun.lock
  package.json
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

Clean up extra whitespace
  src/services/tools/bash.ts
  src/utils/validation/workspaceValidation.ts
Due: unit-tests

Rewrite SSH runtime to use ssh command instead of ssh2 library
  bun.lock
  package.json
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/types/runtime.ts
Due: unit-tests

Convert Runtime interface to streaming with convenience helpers
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  src/utils/runtime/helpers.ts
Due: unit-tests

Address review feedback: remove isFile from FileStat
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
Due: unit-tests

🤖 Add runtime integration tests with Docker SSH server
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/ssh-fixture.ts
  tests/runtime/ssh-server/Dockerfile
  tests/runtime/ssh-server/entrypoint.sh
  tests/runtime/ssh-server/sshd_config
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

🤖 Add workdir to LocalRuntime for symmetry with SSHRuntime
  src/runtime/LocalRuntime.ts
  src/runtime/runtimeFactory.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/types/runtime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

🤖 Add runtime config passthrough to WORKSPACE_CREATE IPC
  src/preload.ts
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.test.ts
  src/runtime/initHook.ts
  src/runtime/runtimeFactory.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/file_edit_operation.test.ts
  src/types/ipc.ts
  src/types/runtime.ts
  tests/ipcMain/createWorkspace.test.ts
  tests/ipcMain/helpers.ts
  tests/runtime/workspace-creation.test.ts
Due: unit-tests, integration-tests

🤖 Add Runtime.createWorkspace() interface and implementations
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/runtime/workspace-creation.test.ts
Due: unit-tests

🤖 Use depot-macos-15 runner for runtime tests
  .github/workflows/ci.yml
Due: none

🤖 Integrate init hooks with Runtime.createWorkspace()
  src/runtime/initHook.test.ts
  src/runtime/initHook.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Add macOS runtime integration tests to CI
  .github/workflows/ci.yml
Due: none

🤖 Add comprehensive runtime tests for git operations and edge cases
  src/services/tools/file_edit_operation.test.ts
  tests/runtime/runtime.test.ts
  tests/runtime/ssh-server/Dockerfile
Due: integration-tests

🤖 Add runtime selection UI to New Workspace Modal (DRY)
  src/App.tsx
  src/components/NewWorkspaceModal.tsx
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Remove rebase backup files
  src/services/ipcMain.ts.bak
  src/services/tools/file_edit_operation.test.ts.bak
Due: unit-tests

🤖 Add runtime config support to workspace creation flow
  src/hooks/useWorkspaceManagement.ts
  src/runtime/Runtime.ts
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
  src/utils/slashCommands/registry.ts
  src/utils/slashCommands/types.ts
Due: unit-tests

🤖 Refactor createWorkspace tests for DRY, clarity, and robustness
  tests/ipcMain/createWorkspace.test.ts
Due: none

🤖 Make timeout mandatory in ExecOptions to prevent zombies
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
