Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

refactor: decompose bash tool into helper functions
  src/services/tools/bash.ts
Due: unit-tests

fix: remove unnecessary escape in regex pattern
  src/services/tools/bash.ts
Due: unit-tests

🤖 refactor: simplify ollama caching with binary-only install
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
Due: none

Revert "refactor: replace 10ms delay with proper readline event synchronization"
  src/services/tools/bash.ts
Due: unit-tests

🤖 fix: bump cache version to v2 to invalidate empty cache
  .github/actions/setup-ollama/action.yml
Due: none

🤖 feat: add hysteresis-based adaptive concurrency for terminal-bench
  Makefile
  benchmarks/terminal_bench/README.md
  benchmarks/terminal_bench/adaptive_bench.py
  benchmarks/terminal_bench/adaptive_bench_test.py
Due: none

🤖 ci: add adaptive mode support to terminal-bench workflow
  .github/workflows/terminal-bench.yml
Due: none

🤖 refactor: simplify adaptive concurrency to hardcoded 1-16 bounds
  .github/workflows/terminal-bench.yml
  Makefile
  benchmarks/terminal_bench/README.md
  benchmarks/terminal_bench/adaptive_bench.py
Due: none

🤖 fix: parse 'results' field instead of 'trials' in results.json
  benchmarks/terminal_bench/README.md
  benchmarks/terminal_bench/adaptive_bench.py
  benchmarks/terminal_bench/adaptive_bench_test.py
Due: none

🤖 fix: update tb.lock before resume to apply concurrency changes immediately
  benchmarks/terminal_bench/adaptive_bench.py
  benchmarks/terminal_bench/adaptive_bench_test.py
Due: none

🤖 refactor: move Ollama model pull to test-side for better parallelism
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
  tests/ipcMain/ollama.test.ts
Due: none

fix: normalize provider config for ai sdk
  src/services/aiService.normalization.test.ts
  src/services/aiService.ts
Due: unit-tests

🤖 perf: remove 10ms wait by consuming Web Streams concurrently
  src/services/tools/bash.ts
Due: unit-tests

🤖 fix: correct-by-construction process cleanup to prevent SSH hangs (#537)
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.ts
  src/utils/disposableExec.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: unit-tests

🤖 docs: recommend Ctrl+/ shortcut for model switching
  docs/models.md
Due: none

🤖 refactor: extract parseProviderName to eliminate duplication
  src/services/aiService.ts
Due: unit-tests

🤖 refactor: parseModelString returns provider + model tuple
  src/services/aiService.ts
Due: unit-tests

🤖 style: fix prettier formatting in docs/models.md
  docs/models.md
Due: none

🤖 feat: add unified cross-platform path utilities for Windows compatibility
  eslint.config.mjs
  src/components/NewWorkspaceModal.tsx
  src/components/ProjectSidebar.tsx
  src/components/SecretsModal.tsx
  src/config.ts
  src/runtime/tildeExpansion.ts
  src/utils/pathUtils.ts
  src/utils/platform/paths.test.ts
  src/utils/platform/paths.ts
  src/utils/ui/pathAbbreviation.ts
  src/utils/ui/pathFormatting.ts
Due: unit-tests

🤖 fix: check abort signal in bash tool stream consumption
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

fix: remove unnecessary escape in test
  src/services/tools/bash.test.ts
Due: none

🤖 fix: check abort signal in bash tool stream consumption (#541)
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
Due: unit-tests

🤖 ci: split Ollama tests into separate job
  .github/workflows/ci.yml
Due: none

🤖 refactor: use TEST_OLLAMA env var to control Ollama tests
  .github/workflows/ci.yml
  tests/ipcMain/ollama.test.ts
Due: none

🤖 style: reduce Ollama test log spam in CI
  .github/workflows/ci.yml
  tests/ipcMain/ollama.test.ts
Due: none

🤖 test: suppress console output in Ollama tests for CI
  tests/ipcMain/ollama.test.ts
Due: none

🤖 fix: deduplicate tokenizer warnings to eliminate log spam
  src/utils/main/tokenizer.ts
  tests/ipcMain/ollama.test.ts
Due: unit-tests

🤖 docs: clarify Ollama works without configuration
  docs/models.md
  src/config.ts
Due: unit-tests

🤖 feat: add Ollama local model support (#531)
  .github/actions/setup-ollama/action.yml
  .github/workflows/ci.yml
  bun.lock
  docs/models.md
  package.json
  src/config.ts
  src/services/aiService.ts
  src/services/streamManager.ts
  src/types/providerOptions.ts
  src/utils/ai/modelDisplay.test.ts
  src/utils/ai/modelDisplay.ts
  src/utils/main/tokenizer.ts
  src/utils/tokens/modelStats.test.ts
  src/utils/tokens/modelStats.ts
  tests/ipcMain/ollama.test.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

docs: update README for ollama
  README.md
Due: none

🤖 fix: use correct event parameter syntax for build badge
  README.md
Due: none

🤖 fix: use correct event parameter syntax for build badge (#542)
  README.md
Due: none

🤖 ci: migrate integration tests to self-hosted runner
  .github/workflows/ci.yml
Due: none

🤖 ci: conditionally use self-hosted runner and skip Ollama setup
  .github/workflows/ci.yml
Due: none

🤖 ci: fix brittle runner check and install Docker on runner
  .github/workflows/ci.yml
Due: none

Update the package name to 'mux'
  bun.lock
  package.json
Due: none

🤖 ci: add concurrency control and restore original test name
  .github/workflows/ci.yml
Due: none

🤖 ci: migrate integration tests to self-hosted runner (#545)
  .github/workflows/ci.yml
Due: none

Update the package name to 'mux' (#546)
  bun.lock
  package.json
Due: none

🤖 fix: preserve backoff progression through manual retries
  src/components/Messages/ChatBarrier/RetryBarrier.tsx
  src/hooks/useResumeManager.ts
  src/stores/WorkspaceStore.ts
  src/utils/messages/retryState.test.ts
  src/utils/messages/retryState.ts
Due: unit-tests
