Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 ci: fix floating promise and formatting
  src/services/ipcMain.ts
Due: unit-tests

🤖 refactor: use claude-haiku-4-5 and gpt-5-mini for title generation
  src/services/workspaceTitleGenerator.ts
Due: unit-tests

🤖 refactor: centralize init hook env var injection
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.ts
Due: unit-tests

🤖 feat: AI-generated workspace creation on first message (#500)
  src/App.tsx
  src/components/ChatInput.tsx
  src/components/FirstMessageInput.tsx
  src/components/ModeSelector.tsx
  src/components/WorkspaceListItem.tsx
  src/config.ts
  src/contexts/ModeContext.tsx
  src/contexts/ThinkingContext.tsx
  src/services/ipcMain.ts
  src/services/workspaceTitleGenerator.ts
  src/types/ipc.ts
  src/types/project.ts
  src/types/workspace.ts
Due: unit-tests

🤖 ci: fix formatting
  src/runtime/LocalRuntime.ts
Due: unit-tests

🤖 fix: use remote project path for SSH init hooks
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 refactor: rename CMUX_TEST_ROOT to CMUX_ROOT
  src/constants/paths.ts
  src/main-desktop.ts
  tests/e2e/electronTest.ts
Due: unit-tests, integration-tests

fix: preserve coder/cmux repo references in scripts
  scripts/check_pr_reviews.sh
  scripts/extract_pr_logs.sh
Due: none

fix: correct repo name in GraphQL query
  scripts/check_pr_reviews.sh
Due: none

fix: preserve cmux references for VS Code extension
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

🤖 refactor: add MUX_ prefix and MUX_RUNTIME env var
  docs/init-hooks.md
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.ts
Due: unit-tests

🤖 fix: use local project path for MUX_PROJECT_PATH on SSH
  docs/init-hooks.md
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 refactor: rename CMUX_TEST_ROOT to CMUX_ROOT (#576)
  src/constants/paths.ts
  src/main-desktop.ts
  tests/e2e/electronTest.ts
Due: unit-tests, integration-tests

fix: update test expectations and comments for rename
  docs/benchmarking.md
  src/constants/paths.ts
  src/services/mock/mockScenarioPlayer.ts
  src/services/systemMessage.ts
  src/telemetry/client.ts
  src/telemetry/lifecycle.ts
  src/utils/messages/recency.ts
  src/utils/ui/pathAbbreviation.test.ts
  tests/ipcMain/windowTitle.test.ts
Due: unit-tests

🤖 fix: clear event array in sendMessageAndWait to prevent test pollution
  tests/ipcMain/helpers.ts
Due: integration-tests

🤖 test: fix fork init blocking test + prevent fork during init
  docs/AGENTS.md
  src/services/ipcMain.ts
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
Due: unit-tests, integration-tests

🤖 fix: add provider setup to sendMessageAndWait helper
  tests/ipcMain/helpers.ts
Due: integration-tests

🤖 perf: make SSH fork instant by moving copy to init phase
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/README.md
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

fix: expand tilde paths in SSH fork operations
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 refactor: centralize duplicated test constants
  src/constants/ipc-constants.ts
  src/runtime/initHook.ts
  tests/ipcMain/createWorkspace.test.ts
  tests/ipcMain/forkWorkspace.test.ts
Due: unit-tests

🤖 refactor: remove unnecessary branch detection from SSH fork
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 fix: add skipProviderSetup option for testing error cases
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/sendMessage.test.ts
Due: integration-tests

🤖 fix: add missing sendMessage import in initWorkspace test
  tests/ipcMain/initWorkspace.test.ts
Due: none

🤖 fix: remove unused expandedSourcePath variable
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 refactor: simplify changes to reduce complexity
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/sendMessage.test.ts
Due: integration-tests

🤖 fix: lint errors - remove unused imports and use optional chaining
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/initWorkspace.test.ts
Due: unit-tests

Make runInitHook private - not needed in public interface
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
Due: unit-tests

Refactor fork tests to minimize nesting
  tests/ipcMain/forkWorkspace.test.ts
Due: none

🤖 fix: preserve source runtime config when forking workspaces
  src/services/ipcMain.ts
  tests/ipcMain/forkWorkspace.test.ts
Due: unit-tests

🤖 refactor: simplify fork tests to 5 orthogonal cases
  tests/ipcMain/forkWorkspace.test.ts
Due: none

fix: update test globalDir to use .mux instead of .cmux
  src/services/systemMessage.test.ts
Due: none

🤖 fix: remove unused checkInitHookExists import
  src/services/ipcMain.ts
Due: unit-tests

fix: update init hook paths and test metadata field names
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.ts
  src/utils/messages/StreamingMessageAggregator.init.test.ts
  tests/ipcMain/sendMessage.test.ts
Due: unit-tests

🤖 feat: pass PROJECT_PATH env var to init hooks (#575)
  docs/init-hooks.md
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/initHook.ts
Due: unit-tests

fix: update remaining .cmux references in initHook.ts
  src/runtime/initHook.ts
  src/services/initStateManager.ts
Due: unit-tests

🤖 feat: refactor terminals to pop-out windows with multiple windows per workspace
  src/App.stories.tsx
  src/App.tsx
  src/browser/api.ts
  src/components/AIView.tsx
  src/components/Terminal/TerminalView.tsx
  src/components/WorkspaceHeader.tsx
  src/constants/ipc-constants.ts
  src/preload.ts
  src/services/ipcMain.ts
  src/services/terminalWindowManager.ts
  src/terminal-window.tsx
  src/types/ghostty-web.d.ts
  src/types/ipc.ts
  src/utils/commands/sources.ts
  terminal.html
  vite.config.ts
Due: unit-tests

🤖 fix: resolve build issues with terminal window
  src/terminal-window.tsx
  vite.config.ts
Due: unit-tests

🤖 fix: use static import for TerminalView in dev mode
  src/terminal-window.tsx
Due: unit-tests

refactor: rename ensureMuxMigration to migrateCmuxToMux
  src/constants/paths.ts
  src/main-desktop.ts
  src/main-server.ts
Due: unit-tests
