Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 Remove ipcMain coupling with git worktrees
  src/runtime/LocalRuntime.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Fix lint and formatting issues
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Fix git unit test failures by isolating mock config per test
  src/services/gitService.test.ts
Due: none

🤖 Remove dead code from gitService
  src/services/gitService.test.ts
  src/services/gitService.ts
Due: unit-tests

🤖 Add forkWorkspace() to Runtime interface
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Consolidate git utilities by merging gitService into git.ts
  src/git.ts
  src/services/gitService.test.ts
  src/services/gitService.ts
  src/services/ipcMain.ts
Due: unit-tests

🤖 Eliminate race conditions in init state with promise-based waiting
  src/debug/agentSessionCli.ts
  src/debug/replay-history.ts
  src/services/aiService.test.ts
  src/services/aiService.ts
  src/services/initStateManager.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/services/tools/testHelpers.ts
  src/services/tools/toolHelpers.ts
  src/utils/tools/tools.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/setup.ts
Due: unit-tests, integration-tests

Revert unit tests back to bun:test (only integration tests use Jest)
  src/browser/api.test.ts
  src/hooks/useReviewState.test.ts
  src/runtime/initHook.test.ts
  src/services/aiService.test.ts
  src/services/historyService.test.ts
  src/services/initStateManager.test.ts
  src/services/partialService.test.ts
  src/services/streamManager.test.ts
  src/services/systemMessage.test.ts
  src/stores/MapStore.test.ts
Due: none

Fix lint errors: add eslint-disable for await-thenable and no-unsafe-assignment
  src/browser/api.test.ts
  src/services/initStateManager.test.ts
Due: none

Fix mock() -> jest.fn() in test files
  src/services/partialService.test.ts
  src/services/streamManager.test.ts
  src/services/systemMessage.test.ts
Due: none

Fix SSH init hook test: commit hook to git and use #!/bin/bash
  tests/ipcMain/initWorkspace.test.ts
Due: none

Fix lint errors: import types, generic constructors, unused imports, nullish coalescing
  src/browser/api.test.ts
  src/services/aiService.ts
  src/services/initStateManager.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/testHelpers.ts
Due: unit-tests

Fix test imports and missing test deps after rebase
  src/browser/api.test.ts
  src/hooks/useReviewState.test.ts
  src/runtime/initHook.test.ts
  src/services/aiService.test.ts
  src/services/historyService.test.ts
  src/services/initStateManager.test.ts
  src/services/partialService.test.ts
  src/services/streamManager.test.ts
  src/services/systemMessage.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/stores/MapStore.test.ts
Due: none

🤖 Fix: Use tilde path in SSH runtime to avoid process.env in renderer
  eslint.config.mjs
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
Due: unit-tests

🤖 Fix: Use tilde path in SSH runtime to avoid process.env in renderer (#458)
  eslint.config.mjs
  src/utils/chatCommands.test.ts
  src/utils/chatCommands.ts
Due: unit-tests

docs: add SSH
  README.md
  docs/SUMMARY.md
  docs/img/new-workspace-ssh.webp
  docs/ssh.md
Due: none

🤖 Remove ipcMain coupling with git worktrees (#457)
  src/git.ts
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/gitService.test.ts
  src/services/gitService.ts
  src/services/ipcMain.ts
  tests/runtime/runtime.test.ts
Due: unit-tests

Fix waitForInit to never throw and deduplicate test code
  src/services/initStateManager.test.ts
  src/services/initStateManager.ts
  src/services/tools/bash.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  src/services/tools/toolHelpers.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
Due: unit-tests, integration-tests

Fix lint errors: await-thenable and restrict-template-expressions
  src/services/initStateManager.test.ts
  src/services/initStateManager.ts
Due: unit-tests

Refactor: Use tool wrapper for init wait instead of per-tool calls
  src/services/tools/bash.ts
  src/services/tools/file_edit_insert.ts
  src/services/tools/file_edit_operation.ts
  src/services/tools/file_read.ts
  src/services/tools/toolHelpers.ts
  src/services/tools/wrapWithInitWait.ts
  src/utils/tools/tools.ts
  tests/ipcMain/helpers.ts
Due: unit-tests, integration-tests

Format files
  src/services/tools/wrapWithInitWait.ts
Due: unit-tests

🤖 Minimize initStateManager passing in tool configuration
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/testHelpers.ts
  src/services/tools/wrapWithInitWait.ts
  src/utils/tools/tools.ts
Due: unit-tests

Clean up repetitive wrapper calls with helper function
  src/utils/tools/tools.ts
Due: unit-tests

Fix ESLint error: disable consistent-type-assertions for wrapper
  src/services/tools/wrapWithInitWait.ts
Due: unit-tests

🤖 Fix SSH exec timeout with ControlMaster socket reuse
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
Due: unit-tests

🤖 Optimize integration test parallelization (maxWorkers 200% → 100%) (#443)
  .github/workflows/ci.yml
Due: none

Make runtimeFileEditing test prompts more specific
  tests/ipcMain/runtimeFileEditing.test.ts
Due: none

Format runtimeFileEditing test file
  tests/ipcMain/runtimeFileEditing.test.ts
Due: none

🤖 fix: make temp directory cleanup non-blocking for faster stream interruption
  src/services/streamManager.ts
Due: unit-tests

🤖 Suspend tool calls until workspace init completes (#455)
  src/debug/agentSessionCli.ts
  src/debug/replay-history.ts
  src/services/aiService.test.ts
  src/services/aiService.ts
  src/services/initStateManager.test.ts
  src/services/initStateManager.ts
  src/services/ipcMain.ts
  src/services/systemMessage.test.ts
  src/services/tools/bash.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/services/tools/file_read.ts
  src/services/tools/testHelpers.ts
  src/services/tools/wrapWithInitWait.ts
  src/utils/tools/tools.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/setup.ts
Due: unit-tests, integration-tests

🤖 Fix SSH exec timeout to include connection establishment (#452)
  src/runtime/SSHRuntime.ts
  tests/runtime/runtime.test.ts
Due: unit-tests

🤖 fix: make temp directory cleanup non-blocking for faster stream interruption (#459)
  src/services/streamManager.ts
Due: unit-tests

v0.4.0
  package.json
Due: none

docs: cleanup SSH docs
  docs/ssh.md
Due: none

build: add mdbook tools to nix devShell
  flake.nix
Due: none

docs: bind mdbook server to all hosts by default
  scripts/docs.sh
Due: none

docs: enhance blockquote styling with alert support
  docs/theme/custom.css
Due: none

docs: remove border-radius throughout theme
  docs/theme/custom.css
Due: none

docs: simplify blockquote design for sharp corners
  docs/theme/custom.css
Due: none

🤖 Prevent SSH workspace deletion with unpushed refs
  src/runtime/SSHRuntime.ts
  tests/ipcMain/removeWorkspace.test.ts
Due: unit-tests

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
