Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

🤖 Simplify command palette - open modal instead of direct creation
  src/App.tsx
  src/utils/commands/sources.test.ts
  src/utils/commands/sources.ts
Due: unit-tests

🤖 Refactor createWorkspace tests for DRY, clarity, and robustness
  tests/ipcMain/createWorkspace.test.ts
Due: none

🤖 Fix tilde expansion in init hook path
  src/runtime/SSHRuntime.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

Rewrite SSH runtime to use ssh command instead of ssh2 library
  bun.lock
  package.json
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/types/runtime.ts
Due: unit-tests

🤖 Fix tilde path expansion in SSH runtime
  src/runtime/SSHRuntime.ts
  src/runtime/tildeExpansion.ts
  tests/ipcMain/createWorkspace.test.ts
Due: unit-tests

⚡ Add SSH connection multiplexing and increase server limits
  src/runtime/SSHRuntime.ts
  tests/runtime/ssh-server/sshd_config
Due: unit-tests, integration-tests

🐛 Fix SSH runtime tilde path expansion in cd commands
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Fix formatting
  src/runtime/SSHRuntime.ts
  src/runtime/tildeExpansion.ts
Due: unit-tests

🤖 Fix 'spawn bash ENOENT' by using full bash paths
  src/runtime/LocalRuntime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/executablePaths.ts
Due: unit-tests

🤖 Check workdir exists before spawning in LocalRuntime
  src/runtime/LocalRuntime.ts
Due: unit-tests

🤖 Fix runtimeExecuteBash tests: use tool-call-start events
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 Fix remaining test-helpers await
  tests/runtime/test-helpers.ts
Due: integration-tests

🤖 Make exec() async to properly check workdir exists
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/tools/bash.ts
  src/utils/runtime/helpers.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

🤖 Fix linting issues
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 Upgrade integration test runner and increase parallelism
  .github/workflows/ci.yml
Due: none

🤖 Add tokenizer loading beforeAll to all integration test files
  tests/ipcMain/anthropic1MContext.test.ts
  tests/ipcMain/forkWorkspace.test.ts
  tests/ipcMain/openai-web-search.test.ts
  tests/ipcMain/renameWorkspace.test.ts
  tests/ipcMain/resumeStream.test.ts
  tests/ipcMain/streamErrorRecovery.test.ts
  tests/ipcMain/truncate.test.ts
Due: none

🤖 Fix Jest integration tests: remove preloading, optimize tokenizer
  src/services/aiService.ts
  tests/ipcMain/sendMessage.test.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

🤖 Pass test_filter to e2e and storybook tests
  .github/workflows/ci.yml
Due: none

🤖 Skip storybook and e2e tests when test_filter is set
  .github/workflows/ci.yml
Due: none

🤖 Refactor workspace deletion to Runtime interface
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/runtime/runtime.test.ts
Due: unit-tests

🤖 Fix lint errors in deleteWorkspace implementation
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/ipcMain.ts
  tests/runtime/runtime.test.ts
Due: unit-tests

Add maxWorkers=100% and --silent to integration tests for better output
  .github/workflows/ci.yml
Due: none

🤖 Fix integration test race condition in AI SDK provider imports
  docs/AGENTS.md
  src/services/aiService.ts
  tests/ipcMain/renameWorkspace.test.ts
Due: unit-tests

Use maxWorkers=200% for integration tests in CI
  .github/workflows/ci.yml
Due: none

🤖 Optimize setup-cmux action with node_modules caching
  .github/actions/setup-cmux/action.yml
Due: none

🤖 Invalidate node_modules cache on Bun version/arch changes
  .github/actions/setup-cmux/action.yml
Due: none

Add workflow_dispatch suggestion to wait_pr_checks for faster iteration
  scripts/wait_pr_checks.sh
Due: none

🤖 Fix SSH runtime test timeout issues
  scripts/wait_pr_checks.sh
  tests/ipcMain/runtimeFileEditing.test.ts
Due: none

🤖 Prevent mermaid 'Syntax error in text' DOM pollution
  src/components/Messages/Mermaid.test.tsx
  src/components/Messages/Mermaid.tsx
  src/styles/globals.css
Due: unit-tests

🤖 Delete config.getWorkspacePath() - Runtime is single source of truth
  src/config.ts
  src/git.ts
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/services/agentSession.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.ts
  src/utils/errors.ts
  src/utils/runtime/helpers.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/renameWorkspace.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/ipcMain/setup.ts
  tests/runtime/runtime.test.ts
Due: unit-tests, integration-tests

Fix SSH runtime path handling - use workspacePath instead of srcBaseDir
  src/git.ts
  src/runtime/LocalRuntime.ts
  src/runtime/Runtime.ts
  src/runtime/SSHRuntime.ts
  src/runtime/runtimeFactory.ts
  src/services/agentSession.ts
  src/services/aiService.ts
  src/services/ipcMain.ts
  src/services/tools/bash.test.ts
  src/services/tools/bash.ts
  src/services/tools/fileCommon.test.ts
  src/services/tools/file_edit_insert.test.ts
  src/services/tools/file_edit_operation.test.ts
  src/services/tools/file_edit_replace.test.ts
  src/services/tools/file_read.test.ts
  src/types/runtime.ts
  src/utils/chatCommands.ts
  tests/ipcMain/createWorkspace.test.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/renameWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/runtime/test-helpers.ts
Due: unit-tests, integration-tests

Fix test expectations for srcBaseDir refactor
  src/services/gitService.test.ts
  src/utils/chatCommands.test.ts
Due: none

Add test-workspaces to gitignore
  .gitignore
Due: none

Run prettier
  src/runtime/SSHRuntime.ts
Due: unit-tests

Fix SSH deleteWorkspace to handle non-existent directories
  src/runtime/SSHRuntime.ts
Due: unit-tests

Fix bash tool hanging by closing stdin immediately
  src/services/tools/bash.ts
Due: unit-tests

Fix tool cwd to use workspacePath and enhance test diagnostics
  src/services/aiService.ts
  tests/ipcMain/helpers.ts
Due: unit-tests, integration-tests

Remove unused runtimeConfig variable
  src/services/aiService.ts
  tests/ipcMain/helpers.ts
Due: unit-tests, integration-tests

Fix SSH workspace rename tilde expansion bug
  src/runtime/SSHRuntime.ts
  tests/ipcMain/renameWorkspace.test.ts
Due: unit-tests

Fix formatting in renameWorkspace test
  tests/ipcMain/renameWorkspace.test.ts
Due: none

Path conditions:
  unit-tests: any of: src/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
  integration-tests: any of: tests/**, but not: **/*.test.ts, **/*.test.tsx, **/dist/**, **/node_modules/**, **/coverage/**
