Repository coder/cmux: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Disable PR comments - just show status checks
comment: false

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down
  range: 70..100

  status:
    # Project coverage status - informational only
    project:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

    # Patch coverage status - informational only  
    patch:
      default:
        target: auto           # Compare to base commit
        threshold: 5%          # Allow 5% drop without changing status
        informational: true    # Won't block PRs

# Flag configuration to track unit vs integration test coverage
flags:
  unit-tests:
    paths:
      - src/**
    carryforward: false
  integration-tests:
    paths:
      - tests/**
    carryforward: false

# Ignore common non-source paths
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/dist/**"
  - "**/node_modules/**"
  - "**/coverage/**"

🤖 fix: use git show-branch for clearer SSH workspace force delete errors
  src/runtime/SSHRuntime.ts
Due: unit-tests

fix: only show show-branch when commits are truly unpushed
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: restore vertical token meter on mobile collapsed state
  src/components/RightSidebar.tsx
Due: unit-tests

🤖 fix: use git show-branch for clearer SSH workspace force delete errors (#530)
  src/runtime/SSHRuntime.ts
Due: unit-tests

🤖 fix: restore vertical token meter on mobile collapsed state (#525)
  src/components/RightSidebar.tsx
Due: unit-tests

v0.5.0
  package.json
Due: none

fix: add mac zip artifact for auto updates
  package.json
Due: none

fmt fix
  package.json
Due: none

🤖 fix: add mac zip artifact for auto updates (#515)
  package.json
Due: none

🤖 fix: keep process alive when stdin closes in agentSessionCli (#529)
  src/debug/agentSessionCli.ts
Due: unit-tests

🤖 feat: responsive ChatInput controls with compact display (#517)
  src/components/ChatInput.tsx
  src/components/Context1MCheckbox.tsx
  src/components/ThinkingSlider.tsx
  src/components/ToggleGroup.tsx
Due: unit-tests

🤖 fix: preload tokenizer to eliminate slow test initialization (#518)
  tests/ipcMain/helpers.ts
  tests/ipcMain/initWorkspace.test.ts
  tests/ipcMain/removeWorkspace.test.ts
  tests/ipcMain/runtimeExecuteBash.test.ts
  tests/ipcMain/runtimeFileEditing.test.ts
  tests/setup.ts
Due: integration-tests

🤖 ci: simplify flaky bash special characters test (#527)
  tests/ipcMain/runtimeExecuteBash.test.ts
Due: none

🤖 fix: use container queries for responsive chat controls (#526)
  src/components/ChatInput.tsx
Due: unit-tests

🤖 feat: add aria-labels to ProjectSidebar and fix path text cutoff (#524)
  src/components/ProjectSidebar.tsx
  src/components/WorkspaceListItem.tsx
Due: unit-tests

🤖 fix: map baseUrl to baseURL for providers
  src/services/aiService.normalization.test.ts
  src/services/aiService.ts
Due: unit-tests

fix: map baseUrl to baseURL for AI provider configuration
  src/services/aiService.test.ts
  src/services/aiService.ts
  tests/ipcMain/baseUrlMapping.test.ts
Due: unit-tests

fix: map baseUrl to baseURL for AI provider configuration
  tests/ipcMain/baseUrlMapping.test.ts
Due: none

revert comment removal
  src/services/aiService.test.ts
Due: none

🤖 fix: map baseUrl to baseURL for AI providers (#532)
  src/services/aiService.ts
Due: unit-tests

v0.5.1
  package.json
Due: none

🤖 feat: add support for Ollama local models
  bun.lock
  docs/models.md
  package.json
  src/config.ts
  src/services/aiService.ts
  src/types/providerOptions.ts
  src/utils/ai/modelDisplay.test.ts
  src/utils/ai/modelDisplay.ts
Due: unit-tests

🤖 test: add Ollama integration tests with CI support
  .github/workflows/ci.yml
  tests/ipcMain/ollama.test.ts
  tests/ipcMain/setup.ts
Due: integration-tests

🤖 ci: add caching for Ollama models
  .github/workflows/ci.yml
Due: none

🤖 fix: format docs/models.md
  docs/models.md
Due: none

🤖 refactor: address review comments
  .github/workflows/ci.yml
  docs/models.md
Due: none

🤖 refactor: make command palette a workspace switcher by default
  docs/keybinds.md
  src/components/CommandPalette.stories.tsx
  src/components/CommandPalette.tsx
  src/utils/commands/sources.ts
Due: unit-tests

refine: only show workspace switching by default, not mutations
  docs/keybinds.md
  src/components/CommandPalette.stories.tsx
  src/components/CommandPalette.tsx
Due: unit-tests

fix: enable cmdk filtering for > queries
  src/components/CommandPalette.tsx
Due: unit-tests

fix: exclude switching commands when using > prefix
  docs/AGENTS.md
  docs/keybinds.md
  src/components/CommandPalette.stories.tsx
  src/components/CommandPalette.test.ts
  src/components/CommandPalette.tsx
Due: unit-tests

refactor: extract filtering logic to utility function
  src/components/CommandPalette.test.ts
  src/components/CommandPalette.tsx
  src/utils/commandPaletteFiltering.ts
Due: unit-tests

refactor: make tests property-based, not data-dependent
  src/components/CommandPalette.test.ts
Due: none

🤖 refactor: centralize command ID construction
  src/components/CommandPalette.test.ts
  src/utils/commandIds.ts
  src/utils/commandPaletteFiltering.ts
  src/utils/commands/sources.ts
Due: unit-tests

🤖 refactor: eliminate prefix duplication in commandIds
  src/utils/commandIds.ts
Due: unit-tests

🤖 refactor: make command palette a workspace switcher by default (#477)
  docs/AGENTS.md
  docs/keybinds.md
  src/components/CommandPalette.stories.tsx
  src/components/CommandPalette.test.ts
  src/components/CommandPalette.tsx
  src/utils/commandIds.ts
  src/utils/commandPaletteFiltering.ts
  src/utils/commands/sources.ts
Due: unit-tests

🤖 fix: resolve Ollama integration test timing issues
  .github/workflows/ci.yml
  docs/models.md
  src/config.ts
  src/services/aiService.ts
  src/services/streamManager.ts
  tests/ipcMain/helpers.ts
  tests/ipcMain/ollama.test.ts
  tests/ipcMain/setup.ts
Due: unit-tests, integration-tests

🤖 style: format ollama test file
  tests/ipcMain/ollama.test.ts
Due: none
